.ui-dialog {
  z-index: 1032;
}
.ui-selectmenu-open {
  z-index: 1033;
}
.ui-button {
  outline: none;
}
.ui-menu .ui-menu-item {
  white-space: nowrap;
}
section.content {
  font-family: Ubuntu, Verdana, Arial, sans-serif;
}
#translation-list-pjax .updating_content i.fa {
  font-size: 36px;
}
#translation-list-pjax .updating_content .updating_text {
  font-size: 18px;
}
#translation-list-pjax .updating_content .text-error {
  color: #d13333;
}
#translation-list a {
  cursor: pointer;
}
#translation-list .list-item {
  padding: 3px 0;
  position: relative;
}
#translation-list .list-item .list-item-row {
  padding: 6px 4px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
}
#translation-list .list-item .list-item-row:hover {
  background-color: #f5f7fa;
  border-bottom-color: #dcdcdc;
  box-shadow: 0 0 6px 0 rgba(65, 65, 65, 0.3);
}
#translation-list .list-item .list-item-row:hover .list-item-actions {
  display: block;
}
#translation-list .list-item .list-item-row .original_text,
#translation-list .list-item .list-item-row .category_name {
  line-height: normal;
}
#translation-list .list-item .list-item-row .original_text {
  font-weight: 600;
  color: #000;
}
#translation-list .list-item .list-item-row .category_name {
  display: inline-block;
}
#translation-list .list-item .list-item-row .category_name a {
  color: #939393;
}
#translation-list .list-item .list-item-row .category_name a:link,
#translation-list .list-item .list-item-row .category_name a:visited {
  color: #939393;
}
#translation-list .list-item .list-item-row .category_name a:hover,
#translation-list .list-item .list-item-row .category_name a:active {
  color: #919191;
  text-decoration: underline;
}
#translation-list .list-item .list-item-row .text_row_title {
  margin-right: 162px;
}
#translation-list .list-item .list-item-row.warning_missing_message {
  border: 1px solid #bcb6b6;
  border-bottom-width: 2px;
  background-color: #fff2eb;
}
#translation-list .list-item.staple .list-item-row {
  background-color: #eeeefa;
  border-bottom-color: #dcdcdc;
  box-shadow: 0 0 6px 0 rgba(65, 65, 65, 0.3);
}
#translation-list .list-item.staple .list-item-row + .list-item-info,
#translation-list .list-item.staple .list-item-row .list-item-actions {
  display: block;
}
#translation-list .list-item .list-item-info {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #f5f7fa;
  z-index: 4;
  padding: 7px 4px;
  box-shadow: 0 0 6px 0 rgba(65, 65, 65, 0.3);
}
#translation-list .list-item.fasten-bottom .list-item-info {
  top: calc(97%);
  box-shadow: 0 2px 6px 0 rgba(65, 65, 65, 0.3);
}
#translation-list .list-item.fasten-top .list-item-info {
  bottom: calc(97%);
  box-shadow: 0 -2px 6px 0 rgba(65, 65, 65, 0.3);
}
#translation-list .list-item .list-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  height: 34px;
  margin-top: -17px;
}
#translation-list .list-item .list-item-actions .btn {
  opacity: .6;
}
#translation-list .list-item .list-item-actions .btn:hover {
  opacity: 1;
}
#choose_category_box-dialog label {
  display: block;
}
#missing-list .list-item-row {
  padding: 8px;
}
#missing-list .list-item-row:hover {
  background-color: #cdeed0;
}
