.ui-dialog {
  z-index: 1032;
}
.ui-selectmenu-open {
  z-index: 1033;
}
.ui-button {
  outline: none;
}
.ui-menu .ui-menu-item {
  white-space: nowrap;
}
section.content {
  font-family: Ubuntu, Verdana, Arial, sans-serif;
}
#translation-list-pjax {
  .updating_content {
    i.fa {
      font-size: 36px;
    }
    .updating_text {
      font-size: 18px;
    }
    .text-error {
      color: #d13333;
    }
  }
}
#translation-list {
  a {
    cursor: pointer;
  }

  .list-item {
    padding:  3px 0;
    position: relative;

    .list-item-row {
      padding:       6px 4px; // +2px of top and bottom with border
      border-bottom: 1px solid transparent;
      border-top:    1px solid transparent;
      cursor:        pointer;
      border-radius: 4px;

      &:hover {
        background-color:    #f5f7fa;
        border-bottom-color: #dcdcdc;
        box-shadow:          0 0 6px 0 rgba(65, 65, 65, .3);

        & .list-item-actions {
          display: block;
        }

      }

      .original_text, .category_name {
        line-height: normal;
      }
      .original_text {
        font-weight: 600;
        color:       #000;
      }
      .category_name {
        display: inline-block;

        a {
          color: #939393;

          &:link, &:visited {
            color: #939393;
          }
          &:hover, &:active {
            color:           #919191;
            text-decoration: underline;
          }
        }
      }

      .text_row_title {
        margin-right: 162px;
      }

      &.warning_missing_message {
        border:              1px solid #bcb6b6;
        border-bottom-width: 2px;
        background-color:    #fff2eb;
      }
    }
    &.staple .list-item-row {
      background-color:    #eeeefa;
      border-bottom-color: #dcdcdc;
      box-shadow:          0 0 6px 0 rgba(65, 65, 65, .3);

      + .list-item-info, .list-item-actions {
        display: block;
      }
    }
    .list-item-info {
      display:          none;
      position:         absolute;
      left:             0;
      width:            100%;
      background-color: #f5f7fa;
      z-index:          4;
      padding:          7px 4px;
      box-shadow:       0 0 6px 0 rgba(65, 65, 65, .3);
    }
    &.fasten-bottom .list-item-info {
      top:        calc(100% - 3px);
      box-shadow: 0 2px 6px 0 rgba(65, 65, 65, .3);
    }
    &.fasten-top .list-item-info {
      bottom:     calc(100% - 3px);
      box-shadow: 0 -2px 6px 0 rgba(65, 65, 65, .3);
    }

    .list-item-actions {
      display:    none;
      position:   absolute;
      top:        50%;
      right:      0;
      height:     34px;
      margin-top: -17px;

      .btn {
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
#choose_category_box-dialog {
  label {
    display: block;
  }
}
#missing-list {
  .list-item-row {

    padding: 8px;
    &:hover {
      background-color: #cdeed0;
    }
  }
}