a {
  cursor: pointer;
}
.list-group-item {
  margin-top: 20px;
}
.media-left {
  .square {
    position: relative;
    &::after {
      content:        "";
      display:        block;
      padding-bottom: 100%;
    }
  }
  a {
    position: absolute;
    left:     0;
    top:      0;
    width:    100%;
    height:   100%;
    overflow: hidden;
    border:   1px solid #d2d2d2;
    padding:  3px;

    > div {
      position: absolute;
      width:    ~"calc(100% - 6px)";
      height:   ~"calc(100% - 6px)";
      top:      3px;
      left:     3px;
      overflow: hidden;

      > div {
        position:         absolute;
        left:             0;
        bottom:           0;
        width:            100%;
        height:           25%;
        background-color: rgba(96, 96, 96, .4);

        span {
          font-size:  18px;
          margin-top: ~"calc(12% - 9px)";
        }
      }
    }

    img {
      position:   absolute;
      width:      100%;
      height:     100%;
      top:        0;
      left:       0;
      object-fit: cover;
    }
  }
}
.media-body {
  .block-label label {
    display: block;
  }
}