a {
  cursor: pointer;
}
.list-group-item {
  margin-top: 20px;
}
.media-left .square {
  position: relative;
}
.media-left .square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.media-left a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #d2d2d2;
  padding: 3px;
}
.media-left a > div {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.media-left a > div > div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(96, 96, 96, 0.4);
}
.media-left a > div > div span {
  font-size: 18px;
  margin-top: calc(12% - 9px);
}
.media-left a img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.media-body .block-label label {
  display: block;
}
