.drop-panel {
  border: 1px solid #dcdcdc;
  background-color: #fafafa; }
  .drop-panel .drop-panel-title {
    background-color: #dfd6bd;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.35em; }
    .drop-panel .drop-panel-title .glyphicon {
      transition: transform 0.3s; }
  .drop-panel .drop-panel-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s; }
  .drop-panel.active .drop-panel-title .glyphicon-menu-down {
    transform: rotate(180deg); }
  .drop-panel.active .drop-panel-content {
    padding: 8px;
    max-height: 1000px; }
  .drop-panel.active .form-group {
    margin-bottom: 0; }

form .thide {
  padding: 10px 15px;
  transition: opacity 300ms;
  border-bottom: 1px solid #ccc; }

#ui-datepicker-div {
  z-index: 10 !important; }

.adv-present {
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  background-color: #ebebeb; }
  .adv-present.active {
    background-color: #efffbc; }

/*# sourceMappingURL=page.css.map */
