// выпадающая коробка с заголовком
.drop-panel
  border: 1px solid #dcdcdc
  background-color: #fafafa

  .drop-panel-title
    background-color: #dfd6bd
    padding: 12px 16px
    cursor: pointer
    font-weight: 500
    font-size: 1.35em

    .glyphicon
      transition: transform .3s

  .drop-panel-content
    padding: 0
    max-height: 0
    overflow: hidden
    transition: max-height .3s, padding .3s

  &.active
    .drop-panel-title
      .glyphicon-menu-down
        transform: rotate(180deg)

    .drop-panel-content
      padding: 8px
      max-height: 1000px

    .form-group
      margin-bottom: 0

// зависимые блоки переключатели
form
  .thide
    padding: 10px 15px
    transition: opacity 300ms
    border-bottom: 1px solid #ccc

// исправление на datepicker
#ui-datepicker-div
  z-index: 10 !important

// админ, редактирование
.adv-present
  padding: 16px
  border: 1px solid #ccc
  margin-bottom: 8px
  background-color: #ebebeb

  &.active
    background-color: #efffbc