.md-panel.mobile_panel {
  height: 100%;

  .panel_header {
    //display:       block;
    height:        72px;
    position:      relative;

    .header_title {
      font-size:      16px;
      font-weight:    bold;
      text-transform: uppercase;
    }
    md-icon {
      position: absolute;
      right:    20px;
      top:      20px;
    }
  }

  .panel_body {
    margin-left:  0;
    margin-right: 0;
  }

  .panel_footer {
    padding:          10px;
    background-color: #fff;
    border-top:       1px solid #d8d8d8;
  }
}
.autocomplete_searchbar {
  position:         absolute;
  left:             0;
  top:              100%;
  width:            100%;
  z-index:          5;
  margin-top:       13px;
  background-color: #fff;
  box-shadow:       0 6px 12px 2px rgba(0, 0, 0, .16);

  &::before, &::after {
    border-style:   solid;
    bottom:         100%;
    left:           25px;
    content:        " ";
    height:         0;
    width:          0;
    position:       absolute;
    pointer-events: none;
  }
  &::before {
    border-color:        rgba(216, 216, 216, 0);
    border-bottom-color: #d8d8d8;
    border-width:        11px;
    margin-left:         -11px;
  }
  &::after {
    border-style:        solid;
    border-color:        rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width:        10px;
    margin-left:         -10px;
  }

  ul {
    padding:    10px 0 0;
    max-height: 250px;

    a {
      white-space:     nowrap;
      display:         block;
      padding:         8px 2px 8px 20px;
      color:           #909498;
      text-decoration: none;
      max-width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: #e35f46;
        color:            #fff;
      }
    }
  }
}
