.minus {
  padding-right: 7px;
  background-color: red;
}
.minus::after {
  content: '-';
}
.categoryPage {
  margin-top: 82px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
}
.categoryPage .container {
  max-width: 1051px;
}
.categoryPage .container .row .titleCategoryPage {
  font-size: 40px;
  margin: 51px 0 70px 0;
}
.categoryPage .container .row .subCategorySearch {
  width: 326px;
  position: relative;
  margin: 57px 0 72px 0;
  padding: 7px 10px 7px 35px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #D8D8D8;
  outline: none;
  color: #90949B;
  background: #fff url(/img/category/search.svg) no-repeat 9px 9px;
}
.categoryPage .container .row .subCategorySearch:hover {
  border: 1px solid #90949B;
  transition: 0.3s;
}
.categoryPage .container .row .subCategorySearch:focus {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.categoryPage .container .row .listCategorySearch {
  position: absolute;
  z-index: 2;
  width: 326px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  right: 14px;
  top: 105px;
  padding: 10px 0;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.categoryPage .container .row .listCategorySearch:before,
.categoryPage .container .row .listCategorySearch:after {
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.categoryPage .container .row .listCategorySearch:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
.categoryPage .container .row .listCategorySearch:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
.categoryPage .container .row .listCategorySearch ul li a {
  white-space: normal;
  text-decoration: none;
  display: block;
  color: #90949B;
  font-size: 14px;
  padding: 8px 0 8px 20px;
}
.categoryPage .container .row .listCategorySearch ul li a:hover {
  background-color: #E35F46;
  color: #fff;
}
.categoryPage .container .row .listCategorySearch ul li a:hover .sel {
  color: #fff;
}
.categoryPage .container .row .col-md-4 .imgTypCategory img {
  width: auto;
  margin-bottom: 10px;
}
.categoryPage .container .row .col-md-4 .borderTop {
  border-bottom: 1px solid #D8D8D8;
  content: " ";
  width: 30px;
  color: transparent;
}
.categoryPage .container .row .col-md-4 .titleBlockCategory {
  margin-top: 18px;
}
.categoryPage .container .row .col-md-4 .titleBlockCategory b {
  margin-top: 39px;
  margin-left: 2px;
  font-size: 18px;
}
.categoryPage .container .row .col-md-4 .titleBlockCategory a {
  text-decoration: none;
  color: #E35F46;
  font-size: 14px;
  padding-left: 5px;
}
.categoryPage .container .row .col-md-4 .titleBlockCategory a:hover {
  color: #D8D8D8;
  transition: 0.3s;
}
.categoryPage .container .row .col-md-4 .titleBlockCategory a:active {
  color: #90949B;
  transition: 0.3s;
}
.categoryPage .container .row .col-md-4 .listBlockCategory {
  margin-top: 8px;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul {
  margin-bottom: 40px;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li {
  margin-bottom: 13px;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li a {
  color: #3C3D3E;
  text-decoration: none;
  position: relative;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li a:hover {
  color: #E35F46;
  transition: 0.1s;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li .icon {
  padding-right: 7px;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li .icon::after {
  content: '+';
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li .submenu {
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 14px;
}
.categoryPage .container .row .col-md-4 .listBlockCategory ul li .submenu li a {
  color: #E35F46;
}
.filterAll {
  background-color: #fbfbfb;
}
.filterAll .filterCategory {
  max-width: 1035px;
  margin-left: 60px;
  margin-top: 82px;
}
.filterAll .filterCategory .titleCategoryPage {
  padding: 0;
}
.filterAll .filterCategory .titleCategoryPage h1 {
  font-size: 40px;
  margin: 51px 0 21px 0;
}
.filterAll .filterCategory .subCategorySearch {
  position: relative;
  margin: 57px 0 23px 0;
  padding: 7px 119px 7px 35px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #D8D8D8;
  outline: none;
  color: #90949B;
  background: #fff url(/img/category/search.svg) no-repeat 9px 9px;
}
.filterAll .filterCategory .subCategorySearch:hover {
  border: 1px solid #90949B;
  transition: 0.3s;
}
.filterAll .filterCategory .subCategorySearch:focus {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.tape {
  background-color: #fff;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}
.tape .contentTape {
  max-width: 1020px;
  margin-left: 60px;
  vertical-align: middle;
}
.tape .contentTape .clearFilter {
  margin: 0;
  line-height: 46px;
  color: #E35F46;
}
.tape .contentTape .chip {
  height: 26px;
  float: left;
  margin-right: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #F6F6F6;
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
  padding: 3px 5px;
  margin-top: 10px;
}
.tape .contentTape .chip .material-icons {
  opacity: 1;
  font-size: 100%;
  float: none;
}
.searchTape {
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
}
.searchTape .container {
  max-width: 1047px;
  padding: 16px 15px 50px 15px;
}
.searchTape .container .row .col-sm-12 {
  padding: 30px 15px 10px 15px;
}
.searchTape .container .row .col-sm-12 a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.searchTape .container .row .col-sm-4 div {
  padding: 8px 0;
}
.searchTape .container .row .col-sm-4 div a {
  text-decoration: none;
  color: #E35F46;
  font-size: 14px;
}
.searchTape .container .row .col-sm-4 div a .small {
  color: #90949B;
}
.sel {
  color: #000;
  font-weight: 600;
}
b .sel {
  color: #E35F46;
}
.glyphiconHeart {
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
}
.glyphiconHeart svg #likeTop {
  fill: #AFAFAF;
  color: red;
}
.glyphiconHeart:hover #likeTop {
  fill: #E35F46;
}
.similarAll {
  padding-bottom: 60px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
}
.similarAll .container {
  max-width: 1050px;
}
.similarAll .container .body .content .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.similarAll .container .body .content .title h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
  margin: 55px 0 36px 0;
}
.similarAll .container .body .content .title .leftSlider button {
  margin-left: 20px;
  color: grey;
  outline: none;
  font-size: 14px;
  border: 1px solid #D8D8D8;
  padding: 10px 13px;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 1;
  margin-top: 24px;
}
.similarAll .container .body .content .title .leftSlider button:focus {
  outline-color: #5E6269;
}
.similarAll .container .body .content .blockNews,
.similarAll .container .body .content .visited {
  margin-left: -13px;
  margin-right: -15px;
}
.similarAll .container .body .allBlockNews,
.similarAll .container .body .allBlock {
  /* padding: 0px 10px; */
  margin-left: 0;
  margin-right: 5px;
  margin-top: 12px;
  margin-bottom: 60px;
}
.similarAll .container .body .allBlockNews .btnAllBlock,
.similarAll .container .body .allBlock .btnAllBlock {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  color: #E35F46;
  font-weight: bold;
  text-decoration: none;
  box-shadow: none;
}
.similarAll .container .body .allBlockNews .btnAllBlock:hover,
.similarAll .container .body .allBlock .btnAllBlock:hover {
  border: 1px solid #E35F46;
  transition-duration: 0.3s;
}
.similarAll .container .body .allBlockNews .btnAllBlock:active,
.similarAll .container .body .allBlock .btnAllBlock:active {
  background-color: #E35F46;
  border: 1px solid #E35F46;
  color: white;
  font-weight: bold;
}
.similarAll .container .body .allBlockNews .btnAllBlock:focus,
.similarAll .container .body .allBlock .btnAllBlock:focus {
  background-color: #E35F46;
  border: 1px solid #E35F46;
  color: white;
  font-weight: bold;
}
