.input-floating label {
  font-size: 14px;
  transform: translate(0, 0);
  transition-duration: 500ms;
  transition-property: font-size, transform, opacity;
  color: #90949B;
  opacity: 1;
}
.input-floating label.infocus {
  opacity: 0;
}
.input-floating:hover label {
  color: grey;
  transition: 0.3s;
}
.input-floating.active label {
  font-size: .8em;
  transform: translate(0, -15px);
  opacity: 0;
  color: #E35F46;
}
.input-floating.active label::before {
  content: close-quote;
}
.input-floating.active label.infocus {
  opacity: 1;
}
