@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/css/fonts/font1/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/css/fonts/HelveticaNeue-UltraLight.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/css/fonts/HelveticaNeue-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/css/fonts/HelveticaNeue-Bold.ttf");
}
.wrap {
  padding-bottom: 20px !important;
}
.wrapp {
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 59px;
}
.popover {
  transition: left, opacity .3s;
  max-width: 402px;
  height: 168px;
  padding: 27px 15px 27px 21px;
}
.popover-content {
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 82px;
  padding: 13px 0;
  border-bottom: 1px solid #D8D8D8;
  background-color: white;
  margin-left: -15px;
}
.header .body {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .body .leftBlockHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header .body .logo {
  padding: 0 50px 0 30px;
}
.header .body .bodyHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .body .rent {
  position: relative;
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 5px;
}
.header .body .rent form {
  width: 100%;
}
.header .body .rent .labelWhat {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  font-weight: normal;
  padding-left: 20px;
  z-index: 1;
}
.header .body .rent .labelWhatBtn {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  right: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 3px;
  border: 1px solid #d8d8d8;
  z-index: 1;
  font-size: 12px;
}
.header .body .rent .labelWhatBtn svg {
  margin-bottom: -2px;
}
.header .body .rent .labelWhatBtn svg #btnLeftHeader {
  stroke: #3C3D3E;
}
.header .body .rent .rotateBtn {
  transform: rotate(180deg);
  transition: 0.3s;
  border: 1px solid #E35F46;
  box-shadow: none;
}
.header .body .rent .rotateBtn svg #btnLeftHeader {
  stroke: #E35F46;
}
.header .body .rent .rentBlockImg {
  background: url("/img/category/search.svg") no-repeat 0 0;
}
.header .body .rent .input-floating {
  width: 326px;
}
.header .body .rent .input-floating input {
  width: 100%;
}
.header .body .rent .input-floating2 {
  width: 326px;
  margin-left: 5px;
}
.header .body .rent .input-floating2 input {
  padding-left: 35px;
  width: 100%;
  margin-left: -6px;
}
.header .body .rent .rentBlock {
  border: none;
  border-bottom: 1px solid #D8D8D8;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 27px;
  box-shadow: none;
  border-radius: 0;
}
.header .body .rent .rentBlock:active,
.header .body .rent .rentBlock:focus {
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid #E35F46;
}
.header .body .rent .rentBlock:active,
.header .body .rent .rentBlock:focus .labelWhat {
  bottom: 100%;
  left: 2px;
}
.header .body .rent .rentBlock:hover {
  border-bottom: 1px solid #E35F46;
  transition: 0.3s;
}
.header .body .rent .rentBlock:hover .input-floating {
  border-bottom: 1px solid #E35F46;
  transition: 0.3s;
}
.header .body .rent input.rentBlockWhenRight {
  background: url("/img/category/dataInputImg.svg") no-repeat;
  background-position: 45% 8px;
  padding-left: 24px;
}
.header .body .rent .rentBlockWhen {
  padding-right: 39px;
  width: 51%;
}
.header .body .rent .btnSend {
  padding: 7px 31.5px 10px 31.5px;
  background-color: #4DC97B;
  border: none;
  color: white;
  outline: none;
  margin-right: -3px;
  box-shadow: none;
}
.header .body .rent .btnSend:hover {
  background-color: #56E58B;
  transition: 0.3s;
}
.header .body .rent .btnSend:active {
  background-color: #30B361;
  transition: 0.3s;
}
.header .body .hideRent {
  display: none;
}
.header .body .visible {
  display: none !important;
}
.header .body .rightRent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 132px;
}
.header .body .rightRent a {
  text-decoration: none;
  color: #4DC97B;
}
.header .body .rightRent .btnRightRent {
  margin: 0 0 0 8px;
  border: 1px solid #D8D8D8;
  font-size: 14px;
  color: #4DC97B;
  padding: 5px 32px 6px 15px;
  box-shadow: none;
  border-radius: 4px;
  font-weight: normal;
}
.header .body .rightRent .btnRightRent:hover {
  border: 1px solid #56E58B;
  transition: 0.3s;
  color: #4DC97B;
}
.header .body .rightRent .btnRightRent:active,
.header .body .rightRent .btnRightRent:focus {
  background-color: #30B361;
  outline: none;
  border: 1px solid #30B361;
  color: white;
}
.header .body .rightRent .btnRightRent .imgBtnRightRent {
  margin-bottom: -4px;
  margin-right: 6px;
}
.header .body .rightRent .btnRightRent .imgBtnRightRent .colorImgRent {
  fill: #4DC97B;
}
.header .body .rightRent .btnRightRent:active .colorImgRent {
  fill: #fff;
}
.header .body .rightRent .btnRightRent:focus .colorImgRent {
  fill: #fff;
}
.header .body .rightRent a {
  text-decoration: none;
  color: #000000;
}
.header .body .rightRent a:hover {
  color: #90949B;
  transition: 0.3s;
}
.header .body .rightRent .help {
  margin: 4px -132px 0 29px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  white-space: nowrap;
}
.header .body .rightRent .help img {
  margin-right: 5px;
}
.header .body .rightRent .message {
  margin: -2px 0 0 163px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: url("/img/category/btnRightMessage.svg") no-repeat 0;
  padding-left: 32px;
  padding-top: 9px;
  padding-bottom: 5px;
  white-space: nowrap;
}
.header .body .rightRent span {
  color: #E35F46;
}
.activeList {
  background-color: #DD4A2E;
  color: #fff;
}
.modal-backdrop.in {
  opacity: 0.9;
}
.modal-backdrop {
  z-index: auto;
}
.regBlock {
  display: inherit;
  margin: 0 30px;
}
.regBlock .btn:focus {
  outline: none;
}
.regBlock .btn:active {
  box-shadow: none;
}
.regBlock .login {
  padding: 0;
  background-color: transparent;
  color: #E35F46;
  font-weight: bold;
}
.regBlock .reg {
  box-shadow: none;
  outline: none;
  font-weight: 500;
  color: #fff;
  background-color: #E35F46;
  border: none;
  margin-left: 19px;
}
.regBlock .modal {
  top: 70px;
  border: none;
}
.regBlock .modal .modal-dialog {
  max-width: 327px;
}
.regBlock .modal .modal-dialog .modal-content {
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.regBlock .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  padding: 0 0;
  background-color: transparent;
}
.regBlock .modal .modal-dialog .modal-content .modal-header .btn {
  color: #000;
  font-weight: 600;
  border-radius: 4px 4px 0 0;
  padding: 12px 23px;
  background-color: #fff;
  outline: none;
  box-shadow: none;
}
.regBlock .modal .modal-dialog .modal-content .modal-header .activeBtn {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
.regBlock .modal .modal-dialog .modal-content .modal-header .close {
  background-color: #E35F46;
  opacity: 1;
  border-radius: 4px;
  padding: 3px 9px;
  font-size: 30px;
  text-shadow: none;
  font-weight: normal;
  color: #fff;
  outline: none;
  box-shadow: none;
}
.regBlock .modal .modal-dialog .modal-content .modal-header #reg {
  margin-left: 10px;
}
.regBlock .modal .modal-dialog .modal-content .modal-body {
  background-color: #fff;
  padding: 30px 20px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .loginBlock #auth-login-form-pjax #auth-login-form {
  margin-bottom: 14px;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .required label {
  color: #90949B;
  font-size: 14px;
  font-weight: normal;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .required input {
  height: 36px;
  box-shadow: none;
  border-color: #D8D8D8;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .required .help-block-error {
  color: #E35F46;
  font-size: 14px;
  font-weight: normal;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .checkbox label {
  color: #000;
  font-size: 14px;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .checkbox label a {
  color: #E35F46;
  text-decoration: underline;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .has-error input {
  border: 1px solid #E35F46;
  border-radius: 4px;
  background-color: rgba(255, 201, 29, 0.15);
}
.regBlock .modal .modal-dialog .modal-content .modal-body button {
  background-color: #E35F46;
  color: #fff;
}
.regBlock .modal .modal-dialog .modal-content .modal-body button:hover {
  background-color: #FF6D51;
}
.regBlock .modal .modal-dialog .modal-content .modal-body button:active {
  background-color: #DD4A2E;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .generatePass {
  color: #E35F46;
  text-decoration: underline;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .generatePass:hover {
  color: #90949B;
}
.regBlock .modal .modal-dialog .modal-content .modal-body .generatePass:active {
  color: #000;
}
.regBlock .modal .activeBtn {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
.regBlock #generatePass .modal-content .modal-header {
  height: 45px;
}
.regBlock #generatePass .modal-content .modal-body {
  padding: 16px 20px 30px 20px;
}
.regBlock #generatePass .modal-content .modal-body .headWindowPass {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding: 0 0 16px 0;
  margin: 0 -21px;
  border-bottom: 1px solid #D8D8D8;
}
.regBlock #generatePass .modal-content .modal-body .form-group {
  margin-top: 15px;
}
.regBlock #generatePass .modal-content .modal-body #restore-password-form-pjax .titlePageFedback {
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.regBlock #generatePass .modal-content .modal-body #restore-password-form-pjax p {
  color: #000;
}
.regBlock #generatePass .modal-content .modal-body #restore-password-form-pjax a {
  text-decoration: none;
  color: #E35F46;
  padding: 0 17%;
}
.manHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.manHeader .btnAccount {
  outline: none;
  padding: 6px 20px 6px 0;
}
.manHeader .btnAccount:focus,
.manHeader .btnAccount:active {
  outline: none;
}
.droppMenu {
  padding: 4px 5px;
}
.rotatedroppMenu {
  padding: 4px 13px;
  transform: rotate(180deg);
  background: url("/img/account/droppMenuRed.svg") no-repeat 2px 14px;
}
.logoMan {
  width: 46px;
  height: auto;
}
.rotateBtnAccount {
  transform: rotate(180deg);
  transition: 0.4s;
}
.rotateBtnAccount #Group-11 {
  stroke: #DD4A2E;
}
.dropdown .btn {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.dropdown .btn span {
  padding-top: 15px;
}
.dropdown .btn span .droppAcc {
  margin-bottom: -5px;
}
.dropdown .btn span .droppAcc #droppAcc {
  stroke: #3C3D3E;
}
.dropdown .listAccount {
  width: 242px;
  height: 472px;
  padding: 7px 0;
  margin: 12px 30px;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #D8D8D8;
}
.dropdown .listAccount:before,
.dropdown .listAccount:after {
  bottom: 100%;
  left: 86%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown .listAccount:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
.dropdown .listAccount:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
.dropdown .listAccount li a {
  color: #90949B;
  padding: 14px 38px;
  font-size: 14px;
}
.dropdown .listAccount li a:hover {
  background-color: #E35F46;
  color: #EEEDED;
  transition: 0.3s;
}
.dropdown .listAccount li a:active,
.dropdown .listAccount li a:focus {
  outline: none;
  background-color: #E35F46;
  color: #EEEDED;
}
.dropdown .listAccount li a .imgLiAccont {
  margin-bottom: -6px;
  margin-right: 7px;
}
.dropdown .listAccount li a .imgLiAccont .ui {
  fill: #AFAFAF;
}
.dropdown .listAccount li a:hover .ui {
  fill: #ffffff;
  transition: 0.3s;
}
.dropdown .listAccount .liBtnExit {
  margin-top: -6px;
  padding: 0 21px;
  background-color: transparent;
}
.dropdown .listAccount .liBtnExit:hover {
  background-color: transparent;
}
.dropdown .listAccount .btnAccountExit {
  color: #E35F46;
  font-weight: bold;
  margin: 15px 0 31px 0;
  padding: 8px 35px;
  border: 1px solid #D8D8D8;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.dropdown .listAccount .btnAccountExit:hover {
  border: 1px solid #E35F46;
  background-color: transparent;
  color: #E35F46;
  transition: 0.3s;
}
.dropdown .listAccount .btnAccountExit:focus,
.dropdown .listAccount .btnAccountExit:active {
  background-color: #E35F46;
  border: 1px solid #E35F46;
  color: #ffffff;
  transition: 0.3s;
}
.head {
  margin-top: 82px;
  background-color: #fbfbfb;
}
.head .container {
  max-width: 1066px;
}
.head .container .body .title h1 {
  font-family: "HelveticaNeueUltraLight", sans-serif;
  color: #90949B;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  margin-top: 58px;
}
.head .container .body .title h1 span {
  color: #E35F46;
  font-family: "HelveticaNeueBold", sans-serif;
}
.head .container .body .title h3 {
  font-family: "HelveticaNeue-Light", sans-serif;
  color: #a9a9a9;
  font-weight: 100;
  font-size: 26px;
  line-height: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.head .container .body .btnHead {
  border: 1px solid #E35F46;
  border-radius: 4px;
  padding: 12px 38px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  box-shadow: none;
}
.head .container .body .btnHead:hover {
  border: 1px solid #E35F46;
  color: #E35F46;
  transition-duration: 0.3s;
}
.head .container .body .btnHead:active,
.head .container .body .btnHead:focus {
  background-color: #E35F46;
  color: white;
  font-weight: bold;
  outline: none;
}
.headSearch {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  color: black;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 0;
  height: 88px;
  width: 1020px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  margin-left: 24px;
}
.headSearch form.titleSearch {
  display: flex;
  width: 100%;
}
.headSearch form.titleSearch .aTop,
.headSearch form.titleSearch .aTopLeft,
.headSearch form.titleSearch .aTopRight {
  padding-top: 7px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-bottom: 11px;
}
.headSearch form.titleSearch .aBoot {
  text-decoration: none;
  color: #90949B;
  font-size: 14px;
  padding-top: 5px;
}
.headSearch form.titleSearch .aBoot:hover {
  color: #90949B;
}
.headSearch form.titleSearch .aBoot span {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
.headSearch form.titleSearch .aBoot .green {
  color: #4DC97B;
}
.headSearch form.titleSearch .aBoot .red {
  color: #E35F46;
}
.headSearch form.titleSearch .left {
  padding: 20px 19px 24px 19px;
  border-right: 1px solid #D8D8D8;
  width: 29.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headSearch form.titleSearch .left .leftBlockLeft {
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -6px;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft {
  border: none;
  font-size: 14px;
  color: #000;
  outline: none;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft::-webkit-input-placeholder {
  color: #90949B;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft:hover {
  border-bottom: 1px solid #E35F46;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft:focus {
  border-bottom: 1px solid #E35F46;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft:focus::-webkit-input-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft:focus::-moz-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft:focus:-moz-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .left .leftBlockLeft .inputSearchHeadLeft:focus:-ms-input-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .left .leftBlockLeft .labelForSearch {
  margin-bottom: -21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  font-weight: normal;
  z-index: 1;
  color: #90949B;
}
.headSearch form.titleSearch .left .rightBlockLeft {
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -3px;
}
.headSearch form.titleSearch .left .rightBlockLeft .btnBig {
  color: #3C3D3E;
  text-decoration: none;
  padding: 10px;
  line-height: 1;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}
.headSearch form.titleSearch .left .rightBlockLeft .btnBig:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.headSearch form.titleSearch .left .rightBlockLeft .btnBig svg {
  margin-bottom: -2px;
}
.headSearch form.titleSearch .left .rightBlockLeft .btnBig svg #btnLeft {
  stroke: #3C3D3E;
}
.headSearch form.titleSearch .left .rightBlockLeft .rotateBtn {
  transform: rotate(180deg);
  transition: 0.3s;
  border: 1px solid #E35F46;
  box-shadow: none;
}
.headSearch form.titleSearch .left .rightBlockLeft .rotateBtn svg #btnLeft {
  stroke: #E35F46;
}
.headSearch form.titleSearch .center {
  padding: 19px 24px 25px 20px;
  border-right: 1px solid #D8D8D8;
  width: 29.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headSearch form.titleSearch .center .inputSearchHead {
  border: none;
  color: #000;
  width: 100%;
  outline: none;
  box-shadow: none;
}
.headSearch form.titleSearch .center .inputSearchHead::-webkit-input-placeholder {
  color: #90949B;
}
.headSearch form.titleSearch .center .inputSearchHead:hover {
  border-bottom: 1px solid #E35F46;
}
.headSearch form.titleSearch .center .inputSearchHead:focus {
  border-bottom: 1px solid #E35F46;
}
.headSearch form.titleSearch .center .inputSearchHead:focus::-webkit-input-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .center .inputSearchHead:focus::-moz-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .center .inputSearchHead:focus:-moz-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .center .inputSearchHead:focus:-ms-input-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .center .labelForSearch {
  margin-bottom: -28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  font-weight: normal;
  z-index: 1;
  color: #90949B;
}
.headSearch form.titleSearch .right {
  width: 40%;
  padding: 20px 10px 15px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headSearch form.titleSearch .right .leftBlockRight {
  margin-top: -6px;
  width: 70%;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock {
  margin-top: 11px;
  display: flex;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .leftSomeBlock {
  background: url("/img/category/greenBtnRight.svg") no-repeat 75% 50%;
  margin-right: 0px;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .rightSomeBlock {
  background: url("/img/statistic/took.svg") no-repeat 0% 50%;
  padding-left: 20px;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 14px;
  outline: none;
  width: 65%;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate::-webkit-input-placeholder {
  color: #90949B;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate:hover {
  border-bottom: 1px solid #E35F46;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate:focus {
  border-bottom: 1px solid #E35F46;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate:focus::-webkit-input-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate:focus::-moz-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate:focus:-moz-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .inputDate:focus:-ms-input-placeholder {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .labelDate {
  color: #90949B;
  font-weight: normal;
  font-size: 14px;
  margin-right: -63px;
  margin-bottom: 0;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .getInput {
  margin-right: 9px;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .returnInput:focus::-webkit-input-placeholder .getInput {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .returnInput:focus::-moz-placeholder .getInput {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .returnInput:focus:-moz-placeholder .getInput {
  color: transparent;
}
.headSearch form.titleSearch .right .leftBlockRight .someBlock .returnInput:focus:-ms-input-placeholder .getInput {
  color: transparent;
}
.headSearch form.titleSearch .right .rightBlockRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-bottom: 5px;
}
.headSearch form.titleSearch .right .rightBlockRight .btnSearch {
  border: none;
  color: white;
  background-color: #4DC97B;
  border-radius: 4px;
  padding: 13px 31px;
  margin-left: 50px;
  box-shadow: none;
  outline: none;
}
.headSearch form.titleSearch .right .rightBlockRight .btnSearch:hover {
  background-color: #56E58B;
}
.headSearch form.titleSearch .right .rightBlockRight .btnSearch:active,
.headSearch form.titleSearch .right .rightBlockRight .btnSearch:focus {
  background-color: #30B361;
}
.sel {
  color: #000;
  font-weight: 600;
}
.category {
  font-family: "Helvetica Neue", sans-serif;
}
.category .container {
  max-width: 1051px;
}
.category .container .body {
  margin-right: -15px;
  margin-left: -15px;
}
.category .container .body .content .title {
  margin-top: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category .container .body .content .title h3 {
  margin: 0;
}
.category .container .body .content .title .titleCategory {
  padding-left: 0;
}
.category .container .body .content .title .titleCategory h3 {
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
}
.category .container .body .content .title .form {
  padding-right: 0;
  height: 36px;
}
.category .container .body .content .title .form input {
  padding: 6px 32px;
  background: white url("/img/category/search.svg") no-repeat 7px 7px;
}
.category .container .body .content .title .form input:hover {
  border: none;
  transition: 0.3s;
  border: 1px solid #90949B;
}
.category .container .body .content .title .form input:focus,
.category .container .body .content .title .form input:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #E35F46;
  transition: 0.5s;
}
.category .container .body .content .title .form input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 0.3s;
}
.category .container .body .slider {
  margin-top: 12px;
  margin-bottom: -3px;
  padding-left: 0;
  padding-right: 0;
}
.category .container .body .slider .row {
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.category .container .body .slider .row .col-md-3,
.category .container .body .slider .row .col-sm-6,
.category .container .body .slider .row .col-xs-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.category .container .body .slider .row .thumbnail {
  border: none;
  height: 180px;
  background-color: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  width: 240px;
  margin-bottom: 20px;
  padding: auto 10px;
}
.category .container .body .slider .row .thumbnail:hover {
  box-shadow: 0 6px 14px 1px rgba(0, 0, 0, 0.14);
  transition: 0.3s;
}
.category .container .body .slider .row .thumbnail .borderCateg {
  border-bottom: 2px solid #D8D8D8;
  width: 30%;
  margin: 18px auto;
}
.category .container .body .slider .row .thumbnail h4 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  height: 30px;
  margin: 0px 0px 9px 0px;
}
.category .container .body .slider .row a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.category .container .body .slider .row a:hover {
  color: #E35F46;
}
.category .container .body .slider .row a:hover .hovCateg {
  color: #E35F46;
  transition: 0.3s;
}
.category .container .body .btnCategoty a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  border: 1px solid #E35F46;
  border-radius: 4px;
  padding: 13px 36px 13px 37px;
  box-shadow: none;
  margin-bottom: 5px;
  margin-top: 10px;
}
.category .container .body .btnCategoty a:hover {
  border: 1px solid #E35F46;
  color: #E35F46;
  transition-duration: 0.3s;
}
.category .container .body .btnCategoty a:active,
.category .container .body .btnCategoty a:focus {
  background-color: #E35F46;
  color: white;
  font-weight: bold;
  outline: none;
}
.subCategorySearch {
  width: 326px;
  position: relative;
  margin: 0 0 10px 0;
  padding: 7px 10px 7px 35px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #D8D8D8;
  outline: none;
  color: #90949B;
  background: #fff url(/img/category/search.svg) no-repeat 9px 9px;
}
.subCategorySearch:hover {
  border: 1px solid #90949B;
  transition: 0.3s;
}
.subCategorySearch:focus {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.listCategorySearch {
  position: absolute;
  z-index: 2;
  width: 326px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.listCategorySearch:before,
.listCategorySearch:after {
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.listCategorySearch:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
.listCategorySearch:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
.listCategorySearch ul li a {
  white-space: normal;
  text-decoration: none;
  display: block;
  color: #90949B;
  font-size: 14px;
  padding: 8px 0 8px 20px;
}
.listCategorySearch ul li a:hover {
  background-color: #E35F46;
  color: #fff;
}
.listCategorySearch ul li a:hover .sel {
  color: #fff;
}
.news,
.autoMoto,
.unusualGoods,
.buildingMaterial,
.visitedProducts,
.team {
  background-color: #fbfbfb;
}
.news .container,
.autoMoto .container,
.unusualGoods .container,
.buildingMaterial .container,
.visitedProducts .container,
.team .container {
  max-width: 1050px;
}
.news .container .body .content .title,
.autoMoto .container .body .content .title,
.unusualGoods .container .body .content .title,
.buildingMaterial .container .body .content .title,
.visitedProducts .container .body .content .title,
.team .container .body .content .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.news .container .body .content .title h3,
.autoMoto .container .body .content .title h3,
.unusualGoods .container .body .content .title h3,
.buildingMaterial .container .body .content .title h3,
.visitedProducts .container .body .content .title h3,
.team .container .body .content .title h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
  margin: 55px 0 36px 0;
}
.news .container .body .content .blockNews,
.autoMoto .container .body .content .blockNews,
.unusualGoods .container .body .content .blockNews,
.buildingMaterial .container .body .content .blockNews,
.visitedProducts .container .body .content .blockNews,
.team .container .body .content .blockNews,
.news .container .body .content .visited,
.autoMoto .container .body .content .visited,
.unusualGoods .container .body .content .visited,
.buildingMaterial .container .body .content .visited,
.visitedProducts .container .body .content .visited,
.team .container .body .content .visited {
  margin-left: -13px;
  margin-right: -15px;
}
.news .container .body .allBlockNews,
.autoMoto .container .body .allBlockNews,
.unusualGoods .container .body .allBlockNews,
.buildingMaterial .container .body .allBlockNews,
.visitedProducts .container .body .allBlockNews,
.team .container .body .allBlockNews,
.news .container .body .allBlock,
.autoMoto .container .body .allBlock,
.unusualGoods .container .body .allBlock,
.buildingMaterial .container .body .allBlock,
.visitedProducts .container .body .allBlock,
.team .container .body .allBlock {
  /* padding: 0px 10px; */
  margin-left: 0;
  margin-right: 5px;
  margin-top: 12px;
  margin-bottom: 60px;
}
.news .container .body .allBlockNews .btnAllBlock,
.autoMoto .container .body .allBlockNews .btnAllBlock,
.unusualGoods .container .body .allBlockNews .btnAllBlock,
.buildingMaterial .container .body .allBlockNews .btnAllBlock,
.visitedProducts .container .body .allBlockNews .btnAllBlock,
.team .container .body .allBlockNews .btnAllBlock,
.news .container .body .allBlock .btnAllBlock,
.autoMoto .container .body .allBlock .btnAllBlock,
.unusualGoods .container .body .allBlock .btnAllBlock,
.buildingMaterial .container .body .allBlock .btnAllBlock,
.visitedProducts .container .body .allBlock .btnAllBlock,
.team .container .body .allBlock .btnAllBlock {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  color: #E35F46;
  font-weight: bold;
  text-decoration: none;
  box-shadow: none;
}
.news .container .body .allBlockNews .btnAllBlock:hover,
.autoMoto .container .body .allBlockNews .btnAllBlock:hover,
.unusualGoods .container .body .allBlockNews .btnAllBlock:hover,
.buildingMaterial .container .body .allBlockNews .btnAllBlock:hover,
.visitedProducts .container .body .allBlockNews .btnAllBlock:hover,
.team .container .body .allBlockNews .btnAllBlock:hover,
.news .container .body .allBlock .btnAllBlock:hover,
.autoMoto .container .body .allBlock .btnAllBlock:hover,
.unusualGoods .container .body .allBlock .btnAllBlock:hover,
.buildingMaterial .container .body .allBlock .btnAllBlock:hover,
.visitedProducts .container .body .allBlock .btnAllBlock:hover,
.team .container .body .allBlock .btnAllBlock:hover {
  border: 1px solid #E35F46;
  transition-duration: 0.3s;
}
.news .container .body .allBlockNews .btnAllBlock:active,
.autoMoto .container .body .allBlockNews .btnAllBlock:active,
.unusualGoods .container .body .allBlockNews .btnAllBlock:active,
.buildingMaterial .container .body .allBlockNews .btnAllBlock:active,
.visitedProducts .container .body .allBlockNews .btnAllBlock:active,
.team .container .body .allBlockNews .btnAllBlock:active,
.news .container .body .allBlock .btnAllBlock:active,
.autoMoto .container .body .allBlock .btnAllBlock:active,
.unusualGoods .container .body .allBlock .btnAllBlock:active,
.buildingMaterial .container .body .allBlock .btnAllBlock:active,
.visitedProducts .container .body .allBlock .btnAllBlock:active,
.team .container .body .allBlock .btnAllBlock:active {
  background-color: #E35F46;
  border: 1px solid #E35F46;
  color: white;
  font-weight: bold;
}
.news .container .body .allBlockNews .btnAllBlock:focus,
.autoMoto .container .body .allBlockNews .btnAllBlock:focus,
.unusualGoods .container .body .allBlockNews .btnAllBlock:focus,
.buildingMaterial .container .body .allBlockNews .btnAllBlock:focus,
.visitedProducts .container .body .allBlockNews .btnAllBlock:focus,
.team .container .body .allBlockNews .btnAllBlock:focus,
.news .container .body .allBlock .btnAllBlock:focus,
.autoMoto .container .body .allBlock .btnAllBlock:focus,
.unusualGoods .container .body .allBlock .btnAllBlock:focus,
.buildingMaterial .container .body .allBlock .btnAllBlock:focus,
.visitedProducts .container .body .allBlock .btnAllBlock:focus,
.team .container .body .allBlock .btnAllBlock:focus {
  background-color: #E35F46;
  border: 1px solid #E35F46;
  color: white;
  font-weight: bold;
}
.news .thumbnail .marg .rowBottom {
  padding: 8px 19px 16px 19px !important;
}
.buildingMaterial {
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
}
.buildingMaterial .container .body .content {
  margin-top: -8px;
}
.autoMoto {
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
}
.autoMoto .container .body .content {
  margin-top: -6px;
}
.unusualGoods {
  background-color: #fbfbfb;
}
.unusualGoods .container .body .content {
  margin-top: -9px;
}
.subscription {
  background-color: #272829;
  background-image: url("/img/category/pattern_3.PNG");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
  color: white;
  padding: 49px 20px 39px 20px;
  font-family: "Helvetica Neue", sans-serif;
}
.subscription .container {
  max-width: 1080px;
}
.subscription .container .body {
  margin-right: 0;
  margin-left: 0;
}
.subscription .container .body .content {
  padding-left: 16px;
  margin-top: 10px;
}
.subscription .container .body .content h3 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 100;
  line-height: 30px;
  color: #FFFFFF;
}
.subscription .container .body .content ul {
  margin-top: 23px;
}
.subscription .container .body .content ul li {
  font-size: 14px;
  line-height: 2.2;
  color: #FFFFFF;
}
.subscription .container .body .col-sm-5 {
  padding-right: 13px;
}
.subscription .container .body .col-sm-5 form {
  outline: none;
  padding-top: 33px;
  height: 35px;
}
.subscription .container .body .col-sm-5 form .form-group {
  outline: none;
  margin-bottom: 16px;
}
.subscription .container .body .col-sm-5 form .form-group .form-control {
  outline: none;
  border: none;
}
.subscription .container .body .col-sm-5 form .form-group input {
  outline: none;
  height: 46px;
  background: url("/img/subscript/mail.svg") no-repeat 17px 16px;
  padding-left: 50px;
  background-color: white;
}
.subscription .container .body .col-sm-5 form .form-group input:focus::-webkit-input-placeholder {
  color: transparent;
}
.subscription .container .body .col-sm-5 form .form-group input:focus::-moz-placeholder {
  color: transparent;
}
.subscription .container .body .col-sm-5 form .form-group input:focus:-moz-placeholder {
  color: transparent;
}
.subscription .container .body .col-sm-5 form .form-group input:focus:-ms-input-placeholder {
  color: transparent;
}
.subscription .container .body .col-sm-5 form .checkbox {
  float: left;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: 0;
  margin-top: 15px;
}
.subscription .container .body .col-sm-5 form .btn {
  background-color: #4DC97B;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 2.2;
  color: #FFFFFF;
  box-shadow: none;
  height: 46px;
  padding: 0 19px;
}
.subscription .container .body .col-sm-5 form .btn:hover {
  background-color: #56E58B;
}
.subscription .container .body .col-sm-5 form .btn:active,
.subscription .container .body .col-sm-5 form .btn:focus {
  outline: none;
  background-color: #30B361;
}
.earn {
  padding-bottom: 0;
}
.earn .container {
  max-width: 1080px;
}
.earn .container .body {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
.earn .container .body .leftBlock {
  margin: 51px 0;
}
.earn .container .body .leftBlock h3 {
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  color: #000000;
  margin: 0;
}
.earn .container .body .leftBlock h3 span {
  color: #E35F46;
  font-weight: bold;
}
.earn .container .body .leftBlock p {
  font-size: 18px;
  line-height: 26px;
  color: #90949B;
  font-weight: 500;
  margin-top: 14px;
}
.earn .container .body .leftBlock .btn {
  padding: 9px 24px;
  background-color: #4DC97B;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
  box-shadow: none;
  margin-top: 12px;
}
.earn .container .body .leftBlock .btn:hover {
  background-color: #56E58B;
}
.earn .container .body .leftBlock .btn:active,
.earn .container .body .leftBlock .btn:focus {
  outline: none;
  background-color: #30B361;
}
.earn .container .body .rightBlock {
  margin: 60px 0 60px 0;
}
.statistics {
  padding-top: 54px;
}
.statistics .container {
  max-width: 1080px;
}
.statistics .container .body {
  margin-right: 0;
  margin-left: 0;
}
.statistics .container .body .content .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.statistics .container .body .content .title h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
  margin: 0;
  padding-bottom: 43px;
}
.statistics .container .body .content .table {
  margin-bottom: 59px;
}
.statistics .container .body .content .table tr {
  border-bottom: 1px solid #D8D8D8;
  height: 50px;
}
.statistics .container .body .content .table tr td {
  padding: 8px 0;
  line-height: 2.9;
  border: none;
  vertical-align: middle;
}
.statistics .container .body .content .table tr td .took {
  color: #E35F46;
  vertical-align: middle;
}
.statistics .container .body .content .table tr td .gave {
  color: #4DC97B;
  vertical-align: middle;
}
.statistics .container .body .content .table tr td:last-child {
  text-align: right;
}
.statistics .container .body .content .table tr .tdStrong {
  font-weight: bold;
}
.statistics .container .body .content .table tr .one {
  width: 17%;
}
.statistics .container .body .content .table tr .two {
  width: 25.5%;
}
.statistics .container .body .content .table tr .tre {
  width: 25.5%;
}
.statistics .container .body .content .table .caption {
  color: #E35F46;
  font-weight: 600;
}
.number {
  background-image: url("/img/category/pattern_2.PNG");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-color: #272829;
  background-size: contain;
  color: white;
  padding: 4px 20px;
}
.number .container {
  max-width: 1080px;
}
.number .container .body {
  margin-right: 0;
  margin-left: 0;
}
.number .container .body .numberBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.number .container .body .numberBlock .leftNumberBlock {
  margin-left: 6px;
}
.number .container .body .numberBlock .leftNumberBlock .blockText {
  padding-left: 4px;
  margin-top: -2px;
}
.number .container .body .numberBlock .centerNumberBlock {
  margin-left: -26px;
}
.number .container .body .numberBlock .centerNumberBlock img {
  margin-top: 8px;
}
.number .container .body .numberBlock .rightNumberBlock {
  padding-right: 58px;
}
.number .container .body .numberBlock .column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 57px;
  padding-bottom: 45px;
}
.number .container .body .numberBlock .column span {
  margin-right: 20px;
}
.number .container .body .numberBlock .column .bigText {
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
}
.number .container .body .numberBlock .column .smallText {
  font-weight: 100;
  font-size: 14px;
  line-height: 1;
  padding-left: 5px;
  white-space: nowrap;
}
.popup {
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
}
.popup .container {
  max-width: 1020px;
}
.popup .container .body .blockPopup {
  background-color: #EEEDED;
  border-radius: 4px;
}
.popup .container .body .blockPopup .popupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popup .container .body .blockPopup .popupTitle h2 {
  margin: 0;
}
.popup .container .body .blockPopup .popupTitle .titlePopup {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}
.popup .container .body .blockPopup .popupTitle .btnCloce {
  line-height: 1;
  background-color: #E35F46;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin: 13px 0;
}
.popup .container .body .blockPopup .menuPopup .row {
  background-color: #ffffff;
  border-bottom: 1px solid #D8D8D8;
}
.popup .container .body .blockPopup .menuPopup .row .col-md-12 {
  padding: 15px 0 15px 15px;
}
.popup .container .body .blockPopup .menuPopup .row .col-md-12 a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #5E6269;
  padding-bottom: 14px;
}
.popup .container .body .blockPopup .menuPopup .row .col-md-12 a:hover {
  border-bottom: 4px solid #E35F46;
}
.popup .container .body .blockPopup .menuPopup .row .col-md-12 a:active {
  font-weight: bold;
}
.popup .container .body .blockPopup .menuPopup .row .col-md-12 .popular {
  margin-left: 20px;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory {
  overflow: auto;
  background-color: #EEEDED;
  border-right: 1px solid #D8D8D8;
  max-height: 350px;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .titleLeftCategory a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #E35F46;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5px;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory a {
  text-decoration: none;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .activeCheck .checkBoxCategory {
  border: 5px solid #E35F46 !important;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory {
  position: relative;
  border: none;
  height: 180px;
  background-color: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory:hover {
  box-shadow: 0 6px 14px 1px rgba(0, 0, 0, 0.14);
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory:active,
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory:focus .text-center {
  color: #E35F46;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory:focus .checkBoxCategory {
  border: 5px solid #E35F46;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory .checkBoxCategory {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #90949B;
  top: 10px;
  left: 10px;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory img {
  margin: auto;
  padding: 20px;
  width: 63%;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory h4 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  height: 30px;
}
.popup .container .body .blockPopup .categoryPopup .leftCategory .wrapCategory .oneCategory .borderCateg {
  border-bottom: 2px solid #D8D8D8;
  width: 30%;
  margin: 5px auto;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru {
  background-color: #ffffff;
  height: 350px;
  overflow: auto;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .voidBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .voidBlock p {
  width: 50%;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .textRight {
  width: 25%;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .textRight ul li {
  padding: 6px 0;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .centerSelect {
  float: left;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .centerSelect p {
  padding: 25px 20px 10px 20px;
  color: #E35F46;
  font-size: 16px;
  border-right: 1px solid #d8d8d8;
  margin-bottom: 0;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .rightSelect {
  float: right;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .rightSelect p {
  padding: 25px 20px 10px 20px;
  color: #E35F46;
  font-size: 16px;
  border-right: 1px solid #d8d8d8;
  margin-bottom: 0;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .activeLi {
  background-color: #E35F46;
  color: #fff !important;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .centerSelect,
.popup .container .body .blockPopup .categoryPopup .rightCategoru .rightSelect {
  max-height: 350px;
  width: 50%;
  overflow: auto;
  position: relative;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .centerSelect ul,
.popup .container .body .blockPopup .categoryPopup .rightCategoru .rightSelect ul {
  border-right: 1px solid #d8d8d8;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .centerSelect ul li,
.popup .container .body .blockPopup .categoryPopup .rightCategoru .rightSelect ul li {
  cursor: pointer;
  padding: 6px 20px;
  color: #3C3D3E;
}
.popup .container .body .blockPopup .categoryPopup .rightCategoru .centerSelect ul li:hover,
.popup .container .body .blockPopup .categoryPopup .rightCategoru .rightSelect ul li:hover {
  background-color: #E35F46;
  color: #fff;
}
.popup .container .body .blockPopup .bottomPopup .row {
  border-top: 1px solid #D8D8D8;
  background-color: #ffffff;
  border-radius: 4px;
}
.popup .container .body .blockPopup .bottomPopup .row .col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.popup .container .body .blockPopup .bottomPopup .row .col-md-12 .send {
  margin: 20px 0;
  background-color: #D8D8D8;
  color: white;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  padding: 7px 19px;
  border: 1px solid #D8D8D8;
}
.popup .container .body .blockPopup .bottomPopup .row .col-md-12 .activeBtnSend {
  background-color: #4DC97B;
  border: 1px solid #4DC97B;
}
.popup .container .body .blockPopup .bottomPopup .row .col-md-12 .activeBtnSend:hover {
  background-color: #56E58B;
  border: 1px solid #56E58B;
}
.popup .container .body .blockPopup .bottomPopup .row .col-md-12 .activeBtnSend:active {
  background-color: #30B361;
  border: 1px solid #30B361;
}
.foter {
  padding-top: 50px;
  padding-bottom: 65px;
}
.foter .container {
  max-width: 1050px;
}
.foter .container .body {
  margin: 0 15px;
}
.foter .container .body .col-sm-12 .wearent {
  margin-right: 11px;
  margin-left: -30px;
}
.foter .container .body .col-sm-12 .wearent ul .translate,
.foter .container .body .col-sm-12 .wearent ul .manu {
  margin-top: 31px;
  width: 154px;
}
.foter .container .body .col-sm-12 .wearent ul .translate button,
.foter .container .body .col-sm-12 .wearent ul .manu button {
  border: 1px solid #D8D8D8;
  box-shadow: none;
  outline: none;
  color: black;
  font-weight: bold;
  width: 154px;
  height: 46px;
  padding: 8px;
  text-align: left;
}
.foter .container .body .col-sm-12 .wearent ul .translate button:hover,
.foter .container .body .col-sm-12 .wearent ul .manu button:hover {
  border: 1px solid #90949B;
  transition: 0.3s;
}
.foter .container .body .col-sm-12 .wearent ul .translate button:focus,
.foter .container .body .col-sm-12 .wearent ul .manu button:focus {
  background-color: transparent;
}
.foter .container .body .col-sm-12 .wearent ul .translate button span,
.foter .container .body .col-sm-12 .wearent ul .manu button span {
  padding-top: 0;
}
.foter .container .body .col-sm-12 .wearent ul .translate ul li a,
.foter .container .body .col-sm-12 .wearent ul .manu ul li a {
  outline: none;
}
.foter .container .body .col-sm-12 .wearent ul .translate ul li a:hover,
.foter .container .body .col-sm-12 .wearent ul .manu ul li a:hover {
  background-color: #E35F46;
  color: #fff;
  transition: 0.2s;
}
.foter .container .body .col-sm-12 .wearent ul .translate img,
.foter .container .body .col-sm-12 .wearent ul .manu img {
  width: 30px;
  margin-right: 7px;
}
.foter .container .body .col-sm-12 .wearent ul .manu {
  margin-top: 10px;
}
.foter .container .body .col-sm-12 .wearent ul .manu button img {
  width: 26px;
}
.foter .container .body .col-sm-12 .wearent ul .wear {
  margin-top: 33px;
}
.foter .container .body .col-sm-12 .wearent img {
  width: 132px;
  margin-top: -4px;
}
.foter .container .body .col-sm-12 .company {
  margin-right: 11px;
}
.foter .container .body .col-sm-12 .company ul .titleList {
  margin-bottom: 18px;
}
.foter .container .body .col-sm-12 .company ul li a:hover {
  color: #E35F46;
  transition: 0.5s;
}
.foter .container .body .col-sm-12 .company ul li a:active,
.foter .container .body .col-sm-12 .company ul li a:focus {
  color: #000000;
}
.foter .container .body .col-sm-12 .aboutUs {
  margin-right: 18px;
}
.foter .container .body .col-sm-12 .aboutUs ul .titleList {
  margin-bottom: 18px;
}
.foter .container .body .col-sm-12 .aboutUs ul li a:hover {
  color: #E35F46;
  transition: 0.5s;
}
.foter .container .body .col-sm-12 .aboutUs ul li a:active,
.foter .container .body .col-sm-12 .aboutUs ul li a:focus {
  color: #000000;
}
.foter .container .body .col-sm-12 .social {
  width: 177px;
  margin-top: 12px;
}
.foter .container .body .col-sm-12 .social a {
  text-decoration: none;
  color: #5E6269;
}
.foter .container .body .col-sm-12 .social a:hover {
  color: #E35F46;
  transition: 0.3s;
}
.foter .container .body .col-sm-12 .social .faseboock img {
  margin-left: 7px;
}
.foter .container .body .col-sm-12 .social .faseboock a {
  margin-left: 19px;
}
.foter .container .body .col-sm-12 .social .instagram img {
  margin-left: 2px;
}
.foter .container .body .col-sm-12 .social .instagram a {
  margin-left: 15px;
}
.foter .container .body .col-sm-12 .social .vkontakte a {
  margin-left: 13px;
}
.foter .container .body .col-sm-12 .social .google img {
  margin-left: 1px;
}
.foter .container .body .col-sm-12 .social .google a {
  margin-left: 12px;
}
.foter .container .body .col-sm-12 ul li {
  margin: 13px 0;
  color: #5E6269;
}
.foter .container .body .col-sm-12 a {
  text-decoration: none;
  color: #5E6269;
  font-size: 14px;
}
.foter .container .body .col-sm-12 a strong {
  color: #000;
}
.informer {
  height: 165px;
  width: 402px;
  padding: 27px 21px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.informer .pInform1 {
  font-size: 14px;
  line-height: 21px;
  color: #3C3D3E;
}
.informer .pInform1 span {
  color: #4DC97B;
}
.iWhatBlock {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
  position: absolute;
  min-width: 722px;
  min-height: 476px;
}
.iWhatBlock .body .listWhat {
  border-right: 1px solid #90949B;
}
.iWhatBlock .body .listWhat li {
  padding: 8px;
}
.iWhatBlock .body .listWhat li:hover,
.iWhatBlock .body .listWhat li:focus,
.iWhatBlock .body .listWhat li:active {
  color: #ffffff;
  background-color: #E35F46;
  transition: 0.3s;
}
.iWhatBlock .body .listWhat li a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.iWhatBlock .body .rightBlockWhat {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.extraSearchFields {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-floating {
  position: relative;
  float: left;
  margin-right: 18px;
  margin-top: 10px;
}
.input-floating label {
  font-size: 14px;
  transform: translate(0, 0);
  transition-duration: 500ms;
  transition-property: font-size, transform, opacity;
  color: #90949B;
  opacity: 1;
}
.input-floating label.infocus {
  opacity: 0;
}
.input-floating:hover label {
  color: grey;
  transition: 0.3s;
}
.input-floating.active {
  width: 282px;
}
.input-floating.active label {
  font-size: .8em;
  transform: translate(0, -15px);
  opacity: 0;
  color: #E35F46;
}
.input-floating.active label::before {
  content: close-quote;
}
.input-floating.active label.infocus {
  opacity: 1;
}
.input-floating .rentBlockWhen {
  width: 50%;
}
#WRAPPANEL .history,
#WRAPPANELhead .history {
  top: 22px;
  width: 905px;
  min-height: 100px;
  max-height: 168px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  color: #90949B;
}
#WRAPPANEL .history .liText,
#WRAPPANELhead .history .liText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
#WRAPPANEL .history .liText:hover,
#WRAPPANELhead .history .liText:hover {
  background-color: #E35F46;
  color: #fff;
  transition: 0.3s;
}
#WRAPPANEL .history .liText .left,
#WRAPPANELhead .history .liText .left {
  width: 33%;
  border-right: 1px solid #D8D8D8;
}
#WRAPPANEL .history .liText .left .historyImg,
#WRAPPANELhead .history .liText .left .historyImg {
  margin-bottom: -3px;
  margin-right: 10px;
}
#WRAPPANEL .history .liText .left .historyImg #historyImg ellipse,
#WRAPPANELhead .history .liText .left .historyImg #historyImg ellipse {
  stroke: #AFAFAF;
}
#WRAPPANEL .history .liText .left .historyImg #historyImg rect,
#WRAPPANELhead .history .liText .left .historyImg #historyImg rect {
  fill: #afafaf;
}
#WRAPPANEL .history .liText .center,
#WRAPPANELhead .history .liText .center {
  border-right: 1px solid #D8D8D8;
  width: 34%;
  white-space: nowrap;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#WRAPPANEL .history .liText .right,
#WRAPPANELhead .history .liText .right {
  padding: 0 20px;
}
#WRAPPANEL .history .liText .right .startDate,
#WRAPPANELhead .history .liText .right .startDate {
  padding-left: 5px;
  padding-right: 20px;
}
#WRAPPANEL .history .liText .right .whenImg #whenImg1,
#WRAPPANELhead .history .liText .right .whenImg #whenImg1 {
  stroke: #90949B;
}
#WRAPPANEL .history .liText .right .whenImg #whenImg2,
#WRAPPANELhead .history .liText .right .whenImg #whenImg2 {
  fill: #90949B;
}
#WRAPPANEL .history .liText .right .end,
#WRAPPANELhead .history .liText .right .end {
  padding-left: 20px;
}
#WRAPPANEL .history .liText:hover .historyImg #historyImg ellipse,
#WRAPPANELhead .history .liText:hover .historyImg #historyImg ellipse {
  stroke: #fff;
}
#WRAPPANEL .history .liText:hover .historyImg #historyImg rect,
#WRAPPANELhead .history .liText:hover .historyImg #historyImg rect {
  fill: #fff;
}
#WRAPPANEL .history .liText:hover .whenImg #whenImg1,
#WRAPPANELhead .history .liText:hover .whenImg #whenImg1 {
  stroke: #fff;
}
#WRAPPANEL .history .liText:hover .whenImg #whenImg2,
#WRAPPANELhead .history .liText:hover .whenImg #whenImg2 {
  fill: #fff;
}
#WRAPPANEL {
  position: absolute;
  height: 210px;
  width: 930px;
  top: 58px;
}
#WRAPPANEL:before,
#WRAPPANEL:after {
  bottom: 89%;
  left: 3%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#WRAPPANEL:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
#WRAPPANEL:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
#WRAPPANELhead {
  position: absolute;
  height: 210px;
  width: 930px;
  margin-top: 30px;
  margin-left: -32px;
}
#WRAPPANELhead:before,
#WRAPPANELhead:after {
  bottom: 89%;
  left: 4.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#WRAPPANELhead:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
#WRAPPANELhead:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
#WRAPPANELhead .history {
  margin-left: 13px;
}
#WRAPPANELhead .history .liText .left {
  width: 32.9%;
}
#WRAPPANELhead .history .liText .center {
  width: 34.5%;
}
.selectProduct,
.selectProductTitle {
  position: absolute;
  top: 79px;
  height: 471px;
  width: 722px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.selectProduct .row1,
.selectProductTitle .row1 {
  margin: 0 -15px;
}
.selectProduct:before,
.selectProductTitle:before,
.selectProduct:after,
.selectProductTitle:after {
  bottom: 100%;
  left: 39.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.selectProduct:after,
.selectProductTitle:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
.selectProduct:before,
.selectProductTitle:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
.selectProduct .leftSelect ul li,
.selectProductTitle .leftSelect ul li {
  font-weight: bold;
}
.selectProduct .leftSelect,
.selectProductTitle .leftSelect,
.selectProduct .centerSelect,
.selectProductTitle .centerSelect,
.selectProduct .rightSelect,
.selectProductTitle .rightSelect {
  width: 240px;
  height: 469px;
  float: left;
  font-weight: normal;
  position: relative;
}
.selectProduct .leftSelect ul,
.selectProductTitle .leftSelect ul,
.selectProduct .centerSelect ul,
.selectProductTitle .centerSelect ul,
.selectProduct .rightSelect ul,
.selectProductTitle .rightSelect ul {
  border-right: 1px solid #d8d8d8;
  height: inherit;
  margin-bottom: 0;
  padding-top: 18px;
}
.selectProduct .leftSelect ul li,
.selectProductTitle .leftSelect ul li,
.selectProduct .centerSelect ul li,
.selectProductTitle .centerSelect ul li,
.selectProduct .rightSelect ul li,
.selectProductTitle .rightSelect ul li {
  cursor: pointer;
  padding: 6px 0 7px 20px;
}
.selectProduct .leftSelect ul li:hover,
.selectProductTitle .leftSelect ul li:hover,
.selectProduct .centerSelect ul li:hover,
.selectProductTitle .centerSelect ul li:hover,
.selectProduct .rightSelect ul li:hover,
.selectProductTitle .rightSelect ul li:hover {
  background-color: #E35F46;
  color: white;
  transition: 0.3s;
}
.selectProduct .rightSelect ul,
.selectProductTitle .rightSelect ul {
  border-right: none;
}
.selectProduct .leftSelectDisplay,
.selectProductTitle .leftSelectDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 66.6%;
  padding-top: 100px;
}
.selectProduct .leftSelectDisplay span,
.selectProductTitle .leftSelectDisplay span {
  color: #3C3D3E;
}
.selectProductTitle {
  margin-top: 50px;
  margin-left: -21px;
}
.selectProductTitle:before,
.selectProductTitle:after {
  left: 37.8%;
}
.whenBlock,
.whenBlockTitle {
  position: absolute;
  z-index: 5;
  width: 29.5%;
  max-width: 398px;
  top: 80px;
  background-color: #ffffff;
  height: 244px;
  float: left;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 0;
  padding-top: 18px;
  font-weight: normal;
  color: #90949B;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.whenBlock:before,
.whenBlockTitle:before,
.whenBlock:after,
.whenBlockTitle:after {
  bottom: 100%;
  left: 9.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.whenBlock:after,
.whenBlockTitle:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fffdfd;
  border-width: 9px;
  margin-left: -18px;
}
.whenBlock:before,
.whenBlockTitle:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 10px;
  margin-left: -19px;
}
.whenBlock ul,
.whenBlockTitle ul {
  margin-bottom: 22px;
}
.whenBlock ul li,
.whenBlockTitle ul li {
  padding: 8px 0 8px 20px;
}
.whenBlock ul li:hover,
.whenBlockTitle ul li:hover {
  background-color: #E35F46;
  color: #FFF;
  cursor: pointer;
}
.whenBlock ul li .sityImg,
.whenBlockTitle ul li .sityImg {
  margin-right: 10px;
  margin-bottom: -2px;
}
.whenBlock ul li .sityImg #sityImg,
.whenBlockTitle ul li .sityImg #sityImg {
  fill: #AFAFAF;
}
.whenBlock ul li:hover #sityImg,
.whenBlockTitle ul li:hover #sityImg {
  fill: #fff;
}
.whenBlockTitle {
  margin-top: 46px;
  margin-left: -20px;
}
.imgWhen {
  margin-left: -25px;
  margin-right: 0px;
}
.dropdown-menu {
  border: 1px solid #D8D8D8;
}
.daterangepicker:before {
  top: -9px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #ccc;
}
.star-rating {
  width: 60px;
}
.star-rating .stars {
  width: 100px;
}
.appFormProd {
  width: 92%;
  margin: 25px 20px;
  float: left;
}
form.simple-form .control-label {
  font-weight: normal;
  color: #90949B;
  font-size: 14px;
}
form.simple-form .form-group.has-feedback .form-control-feedback {
  display: none;
}
form.simple-form .form-group.has-feedback.has-success .form-control-feedback.glyphicon-ok {
  display: block;
}
form.simple-form .form-group.has-feedback.has-error .form-control-feedback.glyphicon-remove {
  display: block;
}
form.simple-form .form-control {
  height: 36px;
  border: 1px solid #D8D8D8;
}
form.simple-form .form-control:hover {
  border: 1px solid #90949B;
}
form.simple-form .form-control:focus {
  border: 1px solid #E35F46;
  box-shadow: none;
}
form.simple-form .help-block-error {
  color: #E35F46;
}
form.simple-form .titleProduct {
  color: #90949B;
  font-weight: bold;
}
form.simple-form .checkbox {
  color: #90949B;
}
form.simple-form .checkbox:active {
  font-weight: bold;
}
form.simple-form .alert-warning {
  color: #90949B;
}
form.simple-form .btnFormProduct {
  border: none;
  background-color: #4DC97B;
  color: #fff;
}
form.simple-form .btnFormProduct:hover {
  background-color: #56E58B;
  transition: 0.3s;
  border: none;
}
form.simple-form .btnFormProduct:focus {
  background-color: #30B361;
  transition: 0.3s;
  border: none;
  outline: none;
  box-shadow: none;
}
.rateyoHome {
  float: right;
  margin-right: -5px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 8px !important;
  background-color: rgba(144, 148, 155, 0.8) !important;
  right: 0 !important;
}
#masenges {
  top: 60%;
  left: 78%;
}
#masenges .modal-content {
  background-color: transparent;
}
#masenges .modal-content .modal-body {
  margin-top: 20px;
}
.headerMobile {
  font-family: Helvetica;
  display: none;
  height: 72px;
  background-color: #fff;
  border-bottom: 1px solid #D8D8D8;
  margin: 0 -15px;
}
.headerMobile .body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.headerMobile .body .droppMenuMob {
  width: 27%;
}
.headerMobile .body .dropdown button {
  border: none;
  border-right: 1px solid #D8D8D8;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  height: 72px;
  width: 100%;
}
.headerMobile .body .dropdown button span .logoBtnRed {
  transform: rotate(180deg);
  transition: 0.3s;
}
.headerMobile .body .dropdown button span .logoBtnRed #btnLeft {
  stroke: #E35F46 !important;
}
.headerMobile .body .dropdown button span .logoBtnGrey #btnLeft {
  stroke: #3C3D3E;
}
.headerMobile .body .content {
  position: relative;
  margin-left: 20px;
  width: 100%;
}
.headerMobile .body .content span.labelHeader {
  padding-left: 20px;
  background: url("/img/category/search.svg") no-repeat 0 50%;
}
.headerMobile .body .content .searchleabel {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-left: -20px;
}
.headerMobile .body .content .myMenu {
  outline: none;
  box-shadow: none;
  background: transparent;
  border: none;
  margin-left: 20%;
  position: absolute;
  top: -6px;
  right: 20px;
}
.headerMobile .body .content .myMenu img {
  border: 1px solid #D8D8D8;
  padding: 2px;
  border-radius: 50%;
}
#logoDroppMenu {
  width: 100%;
}
#logoDroppMenu ul li {
  margin-right: -15px;
}
#logoDroppMenu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #90949B;
}
#logoDroppMenu ul .home {
  border-bottom: 1px solid #D8D8D8;
  height: 93px;
}
#logoDroppMenu ul .home a {
  line-height: 90px;
  padding: 35px 100% 35px 0;
}
#logoDroppMenu ul .reg {
  height: 73px;
}
#logoDroppMenu ul .reg a {
  padding: 35px 100% 17px 0;
  line-height: 100px;
}
#logoDroppMenu ul .exit {
  height: 73px;
  background: url("/img/account/profile_icon.svg") no-repeat 95% 24%;
}
#logoDroppMenu ul .exit a {
  padding: 17px 100% 35px 0;
  line-height: 50px;
}
#logoDroppMenu ul .help {
  border-top: 1px solid #D8D8D8;
  height: 93px;
  background: url("/img/category/help.svg") no-repeat 95% 55%;
}
#logoDroppMenu ul .help a {
  line-height: 90px;
  padding: 35px 100% 35px 0;
}
.searchHeader {
  font-family: Helvetica;
  width: 100%;
  padding-bottom: 20px;
  margin-left: -15px;
  position: absolute;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.2);
}
.searchHeader .headSearchMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.searchHeader .headSearchMobile form {
  width: 100%;
}
.searchHeader .headSearchMobile .left input,
.searchHeader .headSearchMobile .center input,
.searchHeader .headSearchMobile .right input {
  font-size: 18px;
  font-weight: 100;
  line-height: 45px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  outline: none;
  margin: 5px 0;
  color: #3C3D3E;
  text-decoration: none;
  text-underline: none;
}
.searchHeader .headSearchMobile .left input::-webkit-input-placeholder,
.searchHeader .headSearchMobile .center input::-webkit-input-placeholder,
.searchHeader .headSearchMobile .right input::-webkit-input-placeholder {
  color: #90949B;
}
.searchHeader .headSearchMobile .left input:hover,
.searchHeader .headSearchMobile .center input:hover,
.searchHeader .headSearchMobile .right input:hover {
  border-bottom: 1px solid #E35F46;
}
.searchHeader .headSearchMobile .left input:focus,
.searchHeader .headSearchMobile .center input:focus,
.searchHeader .headSearchMobile .right input:focus {
  border-bottom: 1px solid #E35F46;
}
.searchHeader .headSearchMobile .left input:focus::-webkit-input-placeholder,
.searchHeader .headSearchMobile .center input:focus::-webkit-input-placeholder,
.searchHeader .headSearchMobile .right input:focus::-webkit-input-placeholder {
  color: transparent;
}
.searchHeader .headSearchMobile .left input:focus::-moz-placeholder,
.searchHeader .headSearchMobile .center input:focus::-moz-placeholder,
.searchHeader .headSearchMobile .right input:focus::-moz-placeholder {
  color: transparent;
}
.searchHeader .headSearchMobile .left input:focus:-moz-placeholder,
.searchHeader .headSearchMobile .center input:focus:-moz-placeholder,
.searchHeader .headSearchMobile .right input:focus:-moz-placeholder {
  color: transparent;
}
.searchHeader .headSearchMobile .left input:focus:-ms-input-placeholder,
.searchHeader .headSearchMobile .center input:focus:-ms-input-placeholder,
.searchHeader .headSearchMobile .right input:focus:-ms-input-placeholder {
  color: transparent;
}
.searchHeader .headSearchMobile .left {
  position: relative;
}
.searchHeader .headSearchMobile .left .allCategory {
  position: absolute;
  width: 100%;
  background-color: #fff;
  color: #E35F46;
  border: 1px solid #D8D8D8;
  outline: none;
  margin-top: -5px;
  height: 49px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13);
  text-align: left;
  padding-left: 19px;
}
.searchHeader .headSearchMobile .center {
  margin-top: 18px;
}
.searchHeader .headSearchMobile .right {
  margin-top: 18px;
}
.searchHeader .headSearchMobile .right .someBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.searchHeader .headSearchMobile .right .someBlock .leftSomeBlock input {
  background: url("/img/category/greenBtnRight.svg") no-repeat 100% 50%;
}
.searchHeader .headSearchMobile .right .someBlock .rightSomeBlock {
  margin-left: 37px;
}
.searchHeader .headSearchMobile .right .someBlock .rightSomeBlock input {
  background: url("/img/category/redBtnLeft.svg") no-repeat 100% 50%;
}
.searchHeader .headSearchMobile .right input {
  width: 100%;
}
.searchHeader .headSearchMobile .right .leftBlockRight a {
  color: #000;
}
.searchHeader .headSearchMobile .right .rightBlockRight button {
  width: 100%;
  background-color: #4DC97B;
  margin-top: 25px;
  padding: 13px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.searchHeader .historyMobile {
  padding: 4px 22px;
}
.searchHeader .historyMobile h5 {
  color: #3C3D3E;
  font-size: 23px;
  line-height: 30px;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 12px;
  margin-bottom: 0;
}
.searchHeader .historyMobile .history .allBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  padding: 20px 0;
}
.searchHeader .historyMobile .history .allBlock .left {
  font-size: 16px;
  color: #3C3D3E;
}
.searchHeader .historyMobile .history .allBlock .left .date {
  font-size: 14px;
  color: #90949B;
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .header .body .leftBlockHeader .logo {
    padding-right: 20px;
  }
  .header .body .leftBlockHeader .rent form .fst {
    width: 282px;
  }
  .header .body .rightRent {
    padding-right: 20px;
  }
  .head .container .body .headSearch {
    width: 925px;
  }
  .category .container .body .content .title .form input {
    margin-left: -30px;
  }
  .category .container .body .content .title .form .listCategorySearch {
    margin-left: -27px;
  }
  .category .container .body .content .slider .allCategoryBlock .thumbnail {
    width: 220px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header .body .leftBlockHeader .logo {
    padding-right: 20px;
  }
  .header .body .leftBlockHeader .rent form .fst {
    width: 282px;
  }
  .header .body .rightRent {
    padding-right: 20px;
  }
  .head .container .body .headSearch {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .headerMobile {
    display: block;
  }
  .header {
    display: none;
  }
  .head {
    margin-top: 0;
    padding-bottom: 41px;
    border-bottom: 1px solid #d8d8d8;
  }
  .head .container .body .title .col-sm-12 {
    padding: 0 15px;
  }
  .head .container .body .title .col-sm-12 h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    margin-top: 30px;
  }
  .head .container .body .title .col-sm-12 h3 {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
  }
  .head .container .body .headSearch {
    display: none;
  }
  .head .container .body .btnHead {
    width: 90%;
  }
  .category {
    padding-bottom: 39px;
  }
  .category .container .body .content {
    padding: 0 20px;
  }
  .category .container .body .content .title {
    margin-top: 36px;
  }
  .category .container .body .content .title .titleCategory h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
  }
  .category .container .body .content .title .col-sm-4 {
    display: none;
  }
  .category .container .body .content .slider {
    margin-top: 24px;
  }
  .category .container .body .content .slider .row .allCategoryBlock .thumbnail {
    width: 100%;
    height: 154px;
  }
  .category .container .body .content .slider .row .allCategoryBlock .thumbnail span {
    display: none;
  }
  .category .container .body .content .slider .row .allCategoryBlock .thumbnail h4 {
    margin-top: 21px;
  }
  .category .container .body .content .btnCategoty {
    padding: 0;
  }
  .category .container .body .content .btnCategoty .showAllHome {
    width: 100%;
  }
  .subscription {
    padding: 30px 20px 41px 20px;
  }
  .subscription .container {
    padding: 0;
  }
  .subscription .container .body .content {
    padding: 0;
    margin-top: 7px;
  }
  .subscription .container .body .content h3 {
    font-size: 30px;
    white-space: nowrap;
  }
  .subscription .container .body .content ul {
    margin-top: 18px;
  }
  .subscription .container .body .col-xs-12 {
    padding: 0;
  }
  .subscription .container .body .col-sm-5 form {
    padding-top: 12px;
  }
  .subscription .container .body .col-sm-5 form .checkbox {
    margin-top: 19px;
  }
  .subscription .container .body .col-sm-5 form .checkbox label {
    padding-left: 0;
  }
  .subscription .container .body .col-sm-5 form .btn {
    width: 35%;
    padding: 0 0;
    margin-top: 5px;
  }
  .earn .container .body .leftBlock {
    padding: 5px;
  }
  .earn .container .body .leftBlock h3 {
    font-size: 28px;
    font-weight: 100;
    line-height: 35px;
    text-align: center;
  }
  .earn .container .body .leftBlock p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 8px -5px;
  }
  .earn .container .body .leftBlock .btn {
    padding: 8px 24px;
    margin-top: 18px;
  }
  .earn .container .body .rightBlock {
    margin-bottom: 15px;
    margin-top: 40px;
  }
  .earn .container .body .rightBlock img {
    width: 84%;
    margin-left: 8%;
  }
  .earn .container .body .leftBlock {
    margin-top: 10px;
    margin-bottom: 36px;
    text-align: center;
  }
  .statistics {
    display: none;
  }
  .number .container .body .numberBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .number .container .body .numberBlock .column {
    margin-left: -37px;
    padding-right: 0;
  }
  .number .container .body .numberBlock .leftNumberBlock {
    padding: 36px 0 9px 0;
  }
  .number .container .body .numberBlock .centerNumberBlock {
    padding: 34px 0 0 0;
  }
  .number .container .body .numberBlock .rightNumberBlock {
    padding: 43px 0 21px 0;
  }
  .foter {
    padding-top: 28px;
    padding-bottom: 5px;
  }
  .foter .container .body {
    margin: 0 5px;
  }
  .foter .container .body .col-sm-12 {
    padding: 0;
  }
  .foter .container .body .col-sm-12 .row {
    margin: 0 -20px;
  }
  .foter .container .body .col-sm-12 .row .wearent {
    margin-left: 0;
  }
  .foter .container .body .col-sm-12 .row .wearent img {
    width: 167px;
  }
  .foter .container .body .col-sm-12 .row .wearent ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foter .container .body .col-sm-12 .row .wearent ul .inlineBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 28px;
    width: 97%;
  }
  .foter .container .body .col-sm-12 .row .wearent ul .inlineBlock .translate {
    margin-top: 0;
  }
  .foter .container .body .col-sm-12 .row .wearent ul .inlineBlock .many {
    margin-top: 0;
  }
  .foter .container .body .col-sm-12 .row .wearent img {
    margin: 0 auto;
  }
  .foter .container .body .col-sm-12 .row .wearent .wear {
    display: none;
  }
  .foter .container .body .col-sm-12 .row .company,
  .foter .container .body .col-sm-12 .row .aboutUs {
    margin-right: 0;
    padding-top: 20px;
  }
  .foter .container .body .col-sm-12 .row .company ul li a,
  .foter .container .body .col-sm-12 .row .aboutUs ul li a {
    font-size: 12px;
  }
  .foter .container .body .col-sm-12 .row .company ul .titleList a,
  .foter .container .body .col-sm-12 .row .aboutUs ul .titleList a {
    font-size: 14px;
  }
  .foter .container .body .col-sm-12 .row .company {
    padding-right: 10px;
  }
  .foter .container .body .col-sm-12 .row .social {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    margin-bottom: 18px;
  }
  .foter .container .body .col-sm-12 .row .social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px 0;
    margin-bottom: 0;
  }
  .foter .container .body .col-sm-12 .row .social ul li img {
    width: 31px;
    max-height: 26px;
  }
  .news .container .body .content .title .col-sm-7,
  .autoMoto .container .body .content .title .col-sm-7,
  .unusualGoods .container .body .content .title .col-sm-7,
  .buildingMaterial .container .body .content .title .col-sm-7,
  .visitedProducts .container .body .content .title .col-sm-7,
  .team .container .body .content .title .col-sm-7 {
    width: 76%;
  }
  .news .container .body .content .title h3,
  .autoMoto .container .body .content .title h3,
  .unusualGoods .container .body .content .title h3,
  .buildingMaterial .container .body .content .title h3,
  .visitedProducts .container .body .content .title h3,
  .team .container .body .content .title h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin: 36px 0 26px 0;
  }
  .news .container .body .content .title .leftSlider .slick2-prev,
  .autoMoto .container .body .content .title .leftSlider .slick2-prev,
  .unusualGoods .container .body .content .title .leftSlider .slick2-prev,
  .buildingMaterial .container .body .content .title .leftSlider .slick2-prev,
  .visitedProducts .container .body .content .title .leftSlider .slick2-prev,
  .team .container .body .content .title .leftSlider .slick2-prev {
    display: none !important;
  }
  .news .container .body .allBlockNews,
  .autoMoto .container .body .allBlockNews,
  .unusualGoods .container .body .allBlockNews,
  .buildingMaterial .container .body .allBlockNews,
  .visitedProducts .container .body .allBlockNews,
  .team .container .body .allBlockNews {
    display: none;
  }
  .news .container .body .allBlock,
  .autoMoto .container .body .allBlock,
  .unusualGoods .container .body .allBlock,
  .buildingMaterial .container .body .allBlock,
  .visitedProducts .container .body .allBlock,
  .team .container .body .allBlock {
    margin: 0;
  }
  .news .container .body .btnAllBlock,
  .autoMoto .container .body .btnAllBlock,
  .unusualGoods .container .body .btnAllBlock,
  .buildingMaterial .container .body .btnAllBlock,
  .visitedProducts .container .body .btnAllBlock,
  .team .container .body .btnAllBlock {
    display: none;
    margin-top: 19px;
  }
  .news {
    padding-bottom: 31px;
  }
  .unusualGoods {
    padding-bottom: 17px;
  }
}
#chatWindowPanel .modal-dialog {
  max-width: 1024px;
}
#chatWindowPanel .modal-content {
  background-color: #fff;
}
#chatWindowPanel .modal-content .modal-body {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#chatWindowPanel .modal-content .modal-body .leftChat {
  width: 35%;
  min-width: 300px;
  border-right: 1px solid #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockHeader {
  padding: 19px 20px 18px 20px;
  background-color: #EEEDED;
  border-radius: 4px 0 0 0;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockHeader .searchMasseg {
  width: 100%;
  padding-left: 30px;
  background: url("/img/category/search.svg") no-repeat 3% 50% #fff;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .rezult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  border-bottom: 1px solid #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .rezult span {
  color: #90949B;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage {
  position: relative;
  max-height: 430px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .btn-group {
  padding-left: 20px;
  padding-top: 20px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .btn-group .btn {
  color: #000;
  padding-top: 5px;
  width: 50%;
  border: 1px solid #D8D8D8;
  background: #fff;
  font-weight: bold;
  outline: none;
  box-shadow: none;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .btn-group .btn:hover {
  background-color: #E35F46;
  color: #fff;
  border-color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media {
  cursor: pointer;
  margin-top: 0;
  padding: 17px 20px 0 20px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media a {
  padding: 0;
  padding-right: 10px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media a img {
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  height: 36px;
  width: auto;
  padding: 2px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media .media-body {
  padding-bottom: 17px;
  border-bottom: 1px solid #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media .media-body h4 {
  font-size: 14px;
  font-weight: 600;
  color: #3c3d3e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media .media-body .name {
  text-decoration: none;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E35F46;
  margin-bottom: 10px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media .media-body .name span {
  color: #90949B;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media .media-body .textMassage {
  color: #3c3d3e;
  width: 92%;
  margin-bottom: 0;
  position: relative;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media .media-body .textMassage .number {
  position: absolute;
  right: -18px;
  top: 41%;
  background: #E35F46;
  border-radius: 50%;
  padding: 0px 6px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media:hover {
  background-color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media:hover .media-body p {
  color: #fff;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media:hover .media-body a {
  color: #fff;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media:hover .media-body h4 {
  color: #fff;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media:hover .media-body span {
  color: #fff;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockContent .massage .media:hover .media-body {
  border-color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockFooter {
  padding: 20px;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockFooter .supportBtn {
  background-color: #fff;
  color: #E35F46;
  outline: none;
  box-shadow: none;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding: 8px 10px;
  font-weight: 600;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockFooter .supportBtn:hover {
  border-color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .leftChat .blockFooter .supportBtn:focus {
  color: #fff;
  background-color: #E35F46;
  border-color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .rightChat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 65%;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockHeader h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  width: 70%;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockHeader span svg {
  margin-top: 6px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockHeader span button {
  padding: 1px 8px;
  opacity: 1;
  outline: none;
  background-color: #E35F46;
  color: #fff;
  border-radius: 4px;
  font-size: 33px;
  font-weight: normal;
  margin-left: 20px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockContent .support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockContent .support .imgSupport {
  width: 186px;
  height: 152px;
  background-color: #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockContent .support h4 {
  margin-top: 36px;
  margin-bottom: 13px;
  font-size: 30px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockContent .support span {
  font-size: 14px;
  line-height: 18px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter {
  padding: 10px 0;
  position: relative;
  border: none;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter .attach {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter .attach #addForMassage {
  display: none;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter .attach label {
  cursor: pointer;
  margin-bottom: 0;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter .textEdit {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 26px 150px 26px 60px;
  border-top: 1px solid #D8D8D8;
  min-height: 78px;
  max-height: 200px;
  outline: none;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter form button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none;
  box-shadow: none;
  color: #fff;
  background-color: #4DC97B;
  padding: 7px 20px;
  border: 1px solid #56E58B;
  border-radius: 4px;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter form button:hover {
  background-color: #56E58B;
  border-color: #56E58B;
}
#chatWindowPanel .modal-content .modal-body .rightChat .blockFooter form button:focus {
  background-color: #30B361;
  border-color: #30B361;
}
#chatWindowPanel .modal-content .modal-body .blockHeader {
  height: 73px;
  border-bottom: 1px solid #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .blockContent {
  height: 480px;
}
#chatWindowPanel .modal-content .modal-body .blockFooter {
  height: 78px;
  border-top: 1px solid #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .styleInput label {
  color: #90949B;
  font-size: 14px;
  font-weight: normal;
}
#chatWindowPanel .modal-content .modal-body .styleInput input,
#chatWindowPanel .modal-content .modal-body .styleInput textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  padding: 7px 0 7px 10px;
  outline: none;
}
#chatWindowPanel .modal-content .modal-body .styleInput input:hover,
#chatWindowPanel .modal-content .modal-body .styleInput textarea:hover {
  border: 1px solid #90949B;
}
#chatWindowPanel .modal-content .modal-body .styleInput input:focus,
#chatWindowPanel .modal-content .modal-body .styleInput textarea:focus {
  border: 1px solid #E35F46;
}
#chatWindowPanel .modal-content .modal-body .styleInput input::-webkit-input-placeholder,
#chatWindowPanel .modal-content .modal-body .styleInput textarea::-webkit-input-placeholder {
  color: #90949B;
  line-height: 27px;
}
#chatWindowPanel .modal-content .modal-body .styleInput input:focus::-webkit-input-placeholder,
#chatWindowPanel .modal-content .modal-body .styleInput textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
#chatWindowPanel .modal-content .modal-body .styleInput input:focus::-moz-placeholder,
#chatWindowPanel .modal-content .modal-body .styleInput textarea:focus::-moz-placeholder {
  color: transparent;
}
#chatWindowPanel .modal-content .modal-body .styleInput input:focus:-moz-placeholder,
#chatWindowPanel .modal-content .modal-body .styleInput textarea:focus:-moz-placeholder {
  color: transparent;
}
#chatWindowPanel .modal-content .modal-body .styleInput input:focus:-ms-input-placeholder,
#chatWindowPanel .modal-content .modal-body .styleInput textarea:focus:-ms-input-placeholder {
  color: transparent;
}
#chatWindowPanel .modal-content .modal-body .styleInput .labelDroppMenu {
  color: #90949B;
}
#chatWindowPanel .modal-content .modal-body .styleInput .blackLabel {
  color: #000;
  margin-left: 7px;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown {
  margin-top: 7px;
  margin-bottom: 21px;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown button {
  width: 100%;
  max-width: 287px;
  text-align: left;
  outline: none;
  border: 1px solid #D8D8D8;
  padding: 7px 12px;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown button:hover {
  border: 1px solid #90949B;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown button:focus {
  background-color: #fff;
  border: 1px solid #E35F46;
  color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown button span {
  margin-left: 55%;
  padding: 0;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown ul.dropdown-menu {
  width: 100%;
  max-width: 287px;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown ul.dropdown-menu li a {
  outline: none;
}
#chatWindowPanel .modal-content .modal-body .styleInput .dropdown ul.dropdown-menu li a:hover {
  color: #fff;
  background-color: #E35F46;
}
#chatWindowPanel .modal-content .modal-body .styleInput .btn-group button {
  color: #000;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #D8D8D8;
}
#chatWindowPanel .modal-content .modal-body .styleInput .btn-group button:hover {
  background-color: #fff;
  border-color: #90949B;
}
#chatWindowPanel .modal-content .modal-body .styleInput .btn-group button:focus {
  color: #fff;
  background-color: #E35F46;
  border-color: #E35F46;
}
