@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/css/fonts/font1/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/css/fonts/HelveticaNeue-UltraLight.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/css/fonts/HelveticaNeue-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/css/fonts/HelveticaNeue-Bold.ttf");
}
.container-fluid .imgProduct {
  position: relative;
}
.container-fluid .imgProduct .windowProfil {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: -10px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 4px;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 13px;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .imgProfil {
  position: relative;
  width: 55px;
  padding: 3px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .borderProfil {
  padding-bottom: 30px;
  border-bottom: 1px solid #D8D8D8;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .greenInputFoto {
  border: 5px solid #4DC97B;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  z-index: 1;
  left: 60px;
  top: 64px;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .dropdown .btn {
  outline: none;
  padding: 7px 24px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #E35F46;
  font-weight: 500;
  margin-left: 11px;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .dropdown .btn:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .dropdown .btn:active {
  background-color: #E35F46;
  color: #fff;
  border: 1px solid #E35F46;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .dropdown .btn:visited {
  border: 1px solid #D8D8D8;
  background-color: transparent;
  color: #D8D8D8;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .dropdown .btn:active #rotateBtn {
  stroke: #fff;
}
.container-fluid .imgProduct .windowProfil .topTitleWindow .dropdown .btn span .rotateBtn #rotateBtn {
  stroke: #E35F46;
}
.container-fluid .imgProduct .windowProfil .confirmed ul {
  margin-bottom: 0;
}
.container-fluid .imgProduct .windowProfil .confirmed ul .frequency {
  color: #90949B;
  font-weight: normal;
  font-size: 15px;
}
.container-fluid .imgProduct .windowProfil .confirmed ul .frequency span {
  padding-left: 46px;
  color: #000;
  font-weight: bold;
}
.container-fluid .imgProduct .windowProfil .confirmed ul .progress {
  height: 4px;
  margin-bottom: 0;
}
.container-fluid .imgProduct .windowProfil .confirmed ul .progress .progress-bar {
  margin-bottom: 0;
  background-color: #4DC97B;
  height: 4px;
}
.container-fluid .row .showAll {
  text-decoration: none;
  color: #000;
  outline: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  padding: 7px 25px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
}
.container-fluid .row .showAll:hover {
  background-color: #FF6D51;
  color: #fff;
  border: 1px solid #FF6D51;
}
.container-fluid .row .showAll:active {
  background-color: #DD4A2E;
  color: #fff;
  border: 1px solid #DD4A2E;
}
.container-fluid .row .imgWrap {
  position: relative;
  width: 100%;
}
.container-fluid .contentProduct {
  max-width: 1126px;
}
.container-fluid .contentProduct .content {
  font-family: Helvetica;
  margin-top: -55px;
}
.container-fluid .contentProduct .content .leftContent {
  margin-left: 7px;
  max-width: 702px;
}
.container-fluid .contentProduct .content .leftContent .aboutProduct .titlePageProduct {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px 4px 0 0;
  background-color: #5E6269;
  padding: 19px 21px;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.container-fluid .contentProduct .content .leftContent .informationProduct {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  padding: 36px 18px 30px 21px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation .list-unstyled {
  margin-bottom: 0;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation .list-unstyled li {
  padding: 0 20px 14px 28px;
  background-image: url("/img/product/imgInput.svg");
  background-repeat: no-repeat;
  background-position: 0 1px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation a {
  text-decoration: none;
  padding: 0 30px 0 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #E35F46;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation a:hover {
  color: #FF6D51;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation a:focus,
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation a:active {
  color: #DD4A2E;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation a .greenBtnDownFirst .greenBtnDownInf {
  stroke: #E35F46;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .leftInformation .allList:hover .greenBtnDownFirst .greenBtnDownInf {
  stroke: #FF6D51;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .rating {
  padding-left: 16%;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .rating .nameRating {
  color: #90949B;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .rating .numberRating {
  color: #E35F46;
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 {
  margin-top: 34px;
  border-top: 1px solid #d8d8d8;
  padding-top: 20px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 h4 {
  color: #000;
  padding: 8px 31px;
  font-weight: bold;
  font-size: 18px;
  background-image: url("/img/product/imgAboutProd.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 p {
  margin: 13px 0 11px 0;
  color: #3C3D3E;
  line-height: 21px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .lastP {
  margin-top: -7px;
  margin-bottom: 11px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .ulAboutProduct {
  padding: 0px 0 0px 16px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .ulAboutProduct li {
  padding-bottom: 12px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 a {
  text-decoration: none;
  padding: 0 30px 0 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #E35F46;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 a:hover {
  color: #FF6D51;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 a:focus,
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 a:active {
  color: #DD4A2E;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .allAboutProduct:hover .greenBtnDownFirst .greenBtnDownInf {
  stroke: #56E58B;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock {
  margin-top: 24px;
  padding: 28px 0 0 15px;
  border-top: 1px solid #d8d8d8;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .minRent {
  padding: 1px 28px;
  color: #90949B;
  background-image: url("/img/product/imgTime.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .minRent span {
  color: #000;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .datePickerProduct {
  white-space: nowrap;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .datePickerProduct a {
  text-decoration: none;
  margin-left: 18px;
  padding: 9px 35px 9px 21px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  color: #4DC97B;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .datePickerProduct a:hover {
  color: #56E58B;
  border: 1px solid #56E58B;
  transition: 0.3s;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .datePickerProduct a:focus {
  background-color: #30B361;
  border: 1px solid #30B361;
  color: #fff;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .datePickerProduct a .imgButtDate {
  fill: #4DC97B;
  margin-right: 7px;
  margin-bottom: -5px;
}
.container-fluid .contentProduct .content .leftContent .informationProduct .aboutProduct2 .bottomBlock .datePickerProduct a:focus .imgButtDate {
  fill: #fff;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock {
  height: 201px;
  margin-top: 20px;
  border-radius: 4px;
  padding: 10px 18px 20px 30px;
  background-color: #ffffff;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock h4 {
  color: #000;
  margin-bottom: 0px;
  margin-left: 15px;
  padding: 9px 36px;
  font-weight: bold;
  font-size: 18px;
  background-image: url("/img/product/ratingProduct.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock .ratingBlockLeft {
  margin-top: 4px;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock .ratingBlockLeft table tr td {
  padding: 8px 4px 0 0;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock .ratingBlockLeft .fitrsTd {
  color: #90949B;
  padding: 8px 17px 0 0;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock .ratingBlockLeft .lastTd .progress {
  height: 14px;
  width: 100px;
  margin-bottom: 0;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
  background-color: transparent;
}
.container-fluid .contentProduct .content .leftContent .ratingProductBlock .ratingBlockLeft .lastTd .progress .progress-bar {
  background-color: #E35F46;
  border-radius: 0 4px 4px 0;
}
.container-fluid .contentProduct .content .leftContent .ratingBlockRight {
  margin-top: 12px;
  padding-left: 16%;
}
.container-fluid .contentProduct .content .leftContent .ratingBlockRight .nameRating {
  color: #90949B;
}
.container-fluid .contentProduct .content .leftContent .ratingBlockRight .numberRating {
  color: #E35F46;
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
}
.container-fluid .contentProduct .content .leftContent .reviews {
  margin-top: 20px;
  border-radius: 4px;
  padding: 10px 18px 15px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.container-fluid .contentProduct .content .leftContent .reviews h4 {
  color: #000;
  margin-left: -5px;
  padding: 7px 0 11px 40px;
  font-weight: bold;
  font-size: 18px;
  background-image: url("/img/product/ratingProduct.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.container-fluid .contentProduct .content .leftContent .reviews .borderReviewsBlock {
  border-top: 1px solid #D8D8D8;
  width: 100%;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .fotoMan {
  position: relative;
  padding: 3px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  margin-left: -11px;
  margin-top: -3px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .greenInputFoto {
  border: 5px solid #4DC97B;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  z-index: 1;
  right: -2px;
  bottom: 2px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews {
  margin-bottom: 52px;
  padding-left: 22px;
  padding-top: 1px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .inlineBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .name h5 {
  white-space: nowrap;
  margin: 0;
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .name .time {
  white-space: nowrap;
  color: #90949B;
  font-size: 14px;
  padding-left: 1%;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .dropdown button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .dropdown .dropdown-menu {
  width: auto;
  height: auto;
  left: -176px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .dropdown .dropdown-menu::after {
  left: 94%;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .dropdown .dropdown-menu::before {
  left: 94%;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .dropdown .dropdown-menu li a {
  color: #000;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .dropdown .dropdown-menu li a:hover {
  color: #fff;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .rightInineBlock {
  cursor: pointer;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .rightInineBlock span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  margin: 0;
  display: inline-block;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .textReviews .rightInineBlock:hover span {
  transition: 0.3s;
  border: 1px solid #E35F46;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .massage {
  color: #3C3D3E;
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock a {
  text-decoration: none;
  padding-right: 24px;
  padding-left: 4px;
  color: #E35F46;
  font-weight: normal;
  font-size: 14px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock a:hover {
  color: #FF6D51;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock a:focus,
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock a:active {
  color: #DD4A2E;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews {
  margin-top: 57px;
  margin-left: -44px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews .fotoMan {
  margin-left: 37px;
  margin-top: 0px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews .textReviews img {
  margin-top: 21px;
  margin-bottom: 12px;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews .textReviews .bottomBlockReview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews .textReviews .bottomBlockReview .like12 {
  margin-top: -20px;
  padding-left: 29px;
  padding-top: 2px;
  cursor: pointer;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews .textReviews .bottomBlockReview .like12 svg .borderHeard {
  fill: #E35F46;
}
.container-fluid .contentProduct .content .leftContent .reviews .reviewsBlock .commentReviews .textReviews .bottomBlockReview .like12 svg:focus .borderHeard {
  fill: #E35F46;
}
.container-fluid .contentProduct .content .leftContent .reviews .allComment {
  margin-left: 6px;
  padding: 7px 12px;
  max-width: 632px;
  box-shadow: none;
  margin-top: -51px;
  border: 1px solid #D8D8D8;
  color: #E35F46;
  font-size: 14px;
}
.container-fluid .contentProduct .content .leftContent .reviews .allComment:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.container-fluid .contentProduct .content .leftContent .reviews .allComment:focus {
  background-color: #E35F46;
  color: #fff;
  border: 1px solid #E35F46;
}
.container-fluid .contentProduct .content .leftContent .accountMan {
  margin-top: 15px;
  border-radius: 4px;
  padding: 29px 18px 24px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.container-fluid .contentProduct .content .leftContent .titleAccount {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 30px;
}
.container-fluid .contentProduct .content .leftContent .imgProfil {
  position: relative;
  width: 66px;
  padding: 3px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  margin-left: -11px;
  margin-top: 6px;
}
.container-fluid .contentProduct .content .leftContent .borderProfil {
  padding-bottom: 30px;
  border-bottom: 1px solid #D8D8D8;
}
.container-fluid .contentProduct .content .leftContent .greenInputFoto {
  border: 5px solid #4DC97B;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  z-index: 1;
  right: -9px;
  bottom: 2px;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil {
  margin-left: 16px;
  margin-top: 9px;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil ul li h5 {
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #000;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil ul .address {
  font-size: 14px;
  color: #90949B;
  padding-left: 27px;
  padding-top: 4px;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil ul .member {
  font-size: 14px;
  color: #90949B;
  padding-left: 27px;
  padding-top: 4px;
  padding-bottom: 24px;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil ul li a {
  color: #4DC97B;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  border: 1px solid #D8D8D8;
  box-shadow: none;
  border-radius: 4px;
  padding: 9px 25px;
  margin-left: 3px;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil ul li a:hover {
  color: #56E58B;
  border: 1px solid #56E58B;
  transition: 0.3s;
}
.container-fluid .contentProduct .content .leftContent .aboutProfil ul li a:focus {
  background-color: #30B361;
  border: 1px solid #30B361;
  color: #fff;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil {
  margin-left: 30px;
  margin-top: 10px;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul {
  padding-left: 33px;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul .frequency {
  padding-bottom: 4px;
  color: #90949B;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul .frequency span {
  color: #000;
  float: right;
  font-weight: bold;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul .progress {
  height: 5px;
  margin-bottom: 4px;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul .progress .progress-bar {
  background-color: #4DC97B;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul .time {
  color: #90949B;
}
.container-fluid .contentProduct .content .leftContent .statisticsProfil ul .time span {
  color: #000;
  float: right;
  font-weight: bold;
}
.container-fluid .contentProduct .content .leftContent .data {
  margin-left: 26px;
}
.container-fluid .contentProduct .content .leftContent .data .thumbnail {
  margin-top: 33px;
  margin-bottom: 13px;
  border: none;
}
.container-fluid .contentProduct .content .leftContent .data .thumbnail .caption h5 {
  line-height: 18px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.container-fluid .contentProduct .content .leftContent .aboutMe {
  margin-left: -9px;
}
.container-fluid .contentProduct .content .leftContent .aboutMe h5 {
  padding-top: 29px;
  border-top: 1px solid #D8D8D8;
  margin: 0;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 11px;
}
.container-fluid .contentProduct .content .leftContent .aboutMe p {
  color: #3C3D3E;
  line-height: 21px;
}
.container-fluid .contentProduct .content .leftContent .aboutMe a {
  text-decoration: none;
  padding-right: 15px;
  color: #E35F46;
  font-weight: normal;
  font-size: 14px;
}
.container-fluid .contentProduct .content .leftContent .aboutMe a:hover {
  color: #FF6D51;
}
.container-fluid .contentProduct .content .leftContent .aboutMe a:focus {
  color: #DD4A2E;
}
.container-fluid .contentProduct .sidebar {
  margin-left: -8px;
  max-width: 356px;
}
.container-fluid .contentProduct .sidebar .topBlock {
  margin-top: -11px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  background-color: #ffffff;
  padding-bottom: 30px;
}
.container-fluid .contentProduct .sidebar .topBlock .title {
  color: #fff;
  padding: 19px 10px 18px 10px;
  background: #E35F46 url("/img/product/titleSidebar.svg") no-repeat 94% 53%;
  border-radius: 4px 4px 0 0;
}
.container-fluid .contentProduct .sidebar .topBlock .whBlock {
  margin-top: 30px;
  padding: 0 20px 0 20px;
}
.container-fluid .contentProduct .sidebar .topBlock .whBlock input {
  outline: none;
  border: none;
  border-bottom: 1px solid #4DC97B;
  width: 283px;
  padding-bottom: 8px;
  padding-left: 15px;
  background-image: url("/img/product/greenBtnRight.svg");
  background-position: 0 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.container-fluid .contentProduct .sidebar .topBlock .whBlock .dateOne2 {
  background-image: url("/img/product/redBtnLeft.svg");
  background-position: 0 3px;
  background-repeat: no-repeat;
}
.container-fluid .contentProduct .sidebar .topBlock .whBlock .infocus {
  color: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .whBlock label {
  cursor: pointer;
  padding-left: 14px;
  position: absolute;
  color: #90949B;
  font-weight: normal;
  font-size: 14px;
}
.container-fluid .contentProduct .sidebar .topBlock .whBlock .datePickerProduct {
  position: absolute;
  z-index: 2;
  margin-left: 265px;
}
.container-fluid .contentProduct .sidebar .topBlock .whenBack input {
  border-bottom: 1px solid #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .addDetail {
  text-decoration: none;
  color: #000000;
  opacity: 0.9;
  font-size: 14px;
  line-height: 40px;
  padding-left: 20px;
  margin-top: 24px;
  padding-top: 10px;
  display: flex;
}
.container-fluid .contentProduct .sidebar .topBlock .addDetail form label {
  cursor: pointer;
  font-weight: normal;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar {
  padding: 0 20px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar form {
  margin-bottom: 10px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar form .form-control {
  outline: none;
  box-shadow: none;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar form .form-control:focus {
  border: 1px solid #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .greenCheck img {
  margin-right: 5px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .inFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .greeyText {
  color: #90949B;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .boldText {
  color: #000;
  font-weight: bold;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .paddBlocks {
  padding: 13px 0 13px 0;
  border-bottom: 1px solid #D8D8D8;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .priceSidebar {
  margin-top: 15px;
  border-top: 1px solid #D8D8D8;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .yourDiscout {
  cursor: pointer;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .yourDiscout:hover {
  color: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .yourDiscout svg {
  margin-bottom: 1px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .yourDiscout svg #greyBtnDown {
  stroke: #90949B;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .yourDiscout:hover #greyBtnDown {
  stroke: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .redText {
  color: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .redText svg {
  transform: rotate(180deg);
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .topDiscount .redText svg #greyBtnDown {
  stroke: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .bottomDiscount ul {
  padding-left: 16px;
  margin-top: 10px;
  list-style-image: url("/img/product/greenBtnRight.svg");
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .bottomDiscount ul li {
  padding: 5px 0;
  color: #90949B;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .discount .bottomDiscount ul li span {
  color: #E35F46;
  padding-left: 5px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .allPrice {
  padding: 10px 0;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .allPrice .textPrice {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .allPrice .numberPrice {
  font-size: 16px;
  color: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge {
  background-color: #F6F6F6;
  padding: 20px;
  margin: 0 -20px 30px -20px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .pledgeText {
  cursor: pointer;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .pledgeText:hover {
  color: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .pledgeText svg {
  margin-bottom: 1px;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .pledgeText svg #greyBtnDown2 {
  stroke: #90949B;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .pledgeText:hover #greyBtnDown2 {
  stroke: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .redText {
  color: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .redText svg {
  transform: rotate(180deg);
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .topPledge .redText svg #greyBtnDown2 {
  stroke: #E35F46;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .bottomPredge ul {
  padding-left: 16px;
  margin-top: 10px;
  list-style-image: url("/img/product/greenBtnRight.svg");
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .bottomPredge ul li {
  padding: 5px 0;
  color: #90949B;
}
.container-fluid .contentProduct .sidebar .topBlock .rentSidebar .pledge .bottomPredge ul li span {
  color: #E35F46;
  padding-left: 5px;
}
.container-fluid .contentProduct .sidebar .topBlock .btnTopBlock {
  padding: 13px 31px 13px 31px;
  margin-top: 3px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: #4DC97B;
  outline: none;
  box-shadow: none;
}
.container-fluid .contentProduct .sidebar .topBlock .btnTopBlock:hover {
  background-color: #56E58B;
}
.container-fluid .contentProduct .sidebar .topBlock .btnTopBlock:focus {
  background-color: #30B361;
}
.container-fluid .contentProduct .sidebar .bottomBlock {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 30px 19px 33px 19px;
}
.container-fluid .contentProduct .sidebar .bottomBlock .add {
  border: 1px solid #d8d8d8;
  color: #E35F46;
  outline: none;
  padding: 7px 60px 7px 80px;
  box-shadow: none;
}
.container-fluid .contentProduct .sidebar .bottomBlock .add:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.container-fluid .contentProduct .sidebar .bottomBlock .add:focus,
.container-fluid .contentProduct .sidebar .bottomBlock .add:active {
  border: 1px solid #E35F46;
  background-color: #E35F46;
  color: #ffffff;
  transition: 0.3s;
}
.container-fluid .contentProduct .sidebar .bottomBlock .input-group-addon:hover {
  border-color: #E35F46;
}
.container-fluid .contentProduct .sidebar .bottomBlock .notClassic {
  margin-top: 20px;
}
.container-fluid .contentProduct .sidebar .bottomBlock .notClassic label {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 28%;
  color: #E35F46;
  font-weight: normal;
}
.container-fluid .contentProduct .sidebar .bottomBlock .notClassic input {
  border-radius: 4px 0 0 4px;
  z-index: 0;
  box-shadow: none;
  height: 36px;
  padding-left: 43px;
  color: #E35F46;
  cursor: pointer;
}
.container-fluid .contentProduct .sidebar .bottomBlock .notClassic span {
  background: transparent url("/img/product/notClassic.svg") no-repeat 50%;
  padding: 6px 17px;
}
.container-fluid .contentProduct .sidebar .bottomBlock .question {
  padding: 7px 60px 7px 75px;
  margin-top: 20px;
  background-image: url("/img/product/mailBtn.svg");
  background-repeat: no-repeat;
  background-position: 15% 50%;
  background-color: #fff;
  outline: none;
  box-shadow: none;
}
.container-fluid .contentProduct .sidebar .bottomBlock .violation {
  border: none;
  margin-top: 18px;
  padding: 7px 52px 7px 79px;
  color: #000;
  box-shadow: none;
  background-color: #fff;
  outline: none;
}
.container-fluid .contentProduct .sidebar .bottomBlock .borderAboutProduct {
  border-bottom: 2px solid #D8D8D8;
  width: 30%;
  margin: 18px auto;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social {
  border-top: 1px solid #d8d8d8;
  margin: 27px -19px 0 -19px;
  padding-top: 14px;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social span {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #90949B;
  padding: 0 25%;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social .socialBlock {
  margin-top: 15px;
  margin-left: 19px;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social .socialBlock .mail {
  padding: 0 30px 0 9px;
  border-right: 1px solid #D8D8D8;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social .socialBlock .faseboock {
  padding: 0 35px 0 30px;
  border-right: 1px solid #D8D8D8;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social .socialBlock .vkontakte {
  padding: 0 22px 0 24px;
  border-right: 1px solid #D8D8D8;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social .socialBlock .instagram {
  padding: 0 0px 0 28px;
}
.container-fluid .contentProduct .sidebar .bottomBlock .social .socialBlock a img {
  height: 17px;
}
.container-fluid .sliderProduct .container {
  max-width: 1050px;
}
.container-fluid .sliderProduct .col-sm-7 h3 {
  margin-bottom: 32px;
  margin-left: -7px;
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}
.container-fluid .maps {
  height: 400px;
  background: grey;
  margin: 21px -15px 60px -15px;
}
.container-fluid .maps iframe {
  border: 0;
  height: 400px;
  width: 100%;
}
#myModal {
  background-color: rgba(0, 0, 0, 0.85);
}
#myModal .modal-dialog {
  max-width: 889px;
}
#myModal .modal-dialog .modal-content {
  background-color: #000;
}
#myModal .modal-dialog .modal-content .modal-header {
  color: #ffffff;
  padding: 22px 0;
  border-bottom: none;
}
#myModal .modal-dialog .modal-content .modal-header button {
  margin-top: -2px;
  color: #fff;
  position: absolute;
  right: -200px;
  font-weight: 100;
  background-color: #E35F46;
  padding: 4px 10px;
  opacity: 1;
  outline: none;
  border-radius: 4px;
  font-size: 27px;
}
#myModal .modal-dialog .modal-content .modal-header .leftHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#myModal .modal-dialog .modal-content .modal-header .leftHeader span {
  color: #90949B;
  padding: 0 20px 0 0;
}
#myModal .modal-dialog .modal-content .modal-header .leftHeader .blockSvg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
#myModal .modal-dialog .modal-content .modal-header .leftHeader .blockSvg a {
  padding-right: 20px;
}
#myModal .modal-dialog .modal-content .modal-header .rightHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#myModal .modal-dialog .modal-content .modal-header .rightHeader p {
  color: #fff;
  margin: 0;
}
#myModal .modal-dialog .modal-content .modal-header .rightHeader p span {
  font-weight: 600;
  font-size: 16px;
}
#myModal .modal-dialog .modal-content .modal-header .rightHeader .greenBtnHeader {
  color: #fff;
  background-color: #4DC97B;
  padding: 8px 20px;
  border: none;
  box-shadow: none;
  margin-left: 20px;
}
#myModal .modal-dialog .modal-content .modal-header .rightHeader .greenBtnHeader:hover {
  background-color: #56E58B;
}
#myModal .modal-dialog .modal-content .modal-header .rightHeader .greenBtnHeader:active {
  background-color: #30B361;
}
#myModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#myModal .modal-dialog .modal-content .modal-body .contentBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody {
  width: 100%;
  background-color: #fff;
  height: 159px;
  padding-top: 12px;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody .blockBtnBody {
  float: left;
  display: block;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody .blockBtnBody a {
  text-decoration: none;
  padding: 5px 24px;
  font-size: 12px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #D8D8D8;
  color: #000;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody .blockBtnBody a:hover {
  color: #fff;
  background-color: #FF6D51;
  border: 1px solid #FF6D51;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody .blockBtnBody a:active {
  color: #fff;
  background-color: #DD4A2E;
  border: 1px solid #DD4A2E;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody .blockBtnBody .foto {
  border-radius: 4px 0 0 4px;
}
#myModal .modal-dialog .modal-content .modal-body .bottomPathBody .blockBtnBody .video {
  border-radius: 0 4px 4px 0;
}
#myModal .modal-dialog .modal-content .modal-body img {
  height: auto;
}
.rentModal {
  background-color: rgba(0, 0, 0, 0.85);
}
.rentModal .modal-dialog {
  max-width: 672px;
}
.rentModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .title {
  border-bottom: 1px solid #D8D8D8;
  padding: 15px 21px;
}
.rentModal .modal-dialog .modal-content .modal-body .title h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .title button {
  color: #fff;
  background-color: #E35F46;
  margin-top: -3%;
  font-weight: normal;
  font-size: 12px;
  opacity: 1;
  padding: 1px 3px;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct {
  margin: 0 21px;
  padding: 20px 0;
  border-bottom: 1px solid #D8D8D8;
  position: relative;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media {
  width: 78%;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media a {
  padding-right: 20px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media a .imgProduct {
  max-width: 160px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body h4 {
  font-size: 14px;
  font-weight: 600;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body .please {
  color: #90949B;
  padding: 0;
  margin: 0;
  margin-top: -10px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body .mediaMan a {
  padding-right: 10px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body .mediaMan a img {
  margin-top: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  padding: 2px;
  height: 35px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body .mediaMan .greyText {
  color: #90949B;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body .mediaMan a {
  text-decoration: none;
  color: #E35F46;
  font-weight: 600;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .media .media-body .mediaMan a h5 {
  font-weight: 600;
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .starReting {
  position: absolute;
  right: 0;
  top: 25px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .starReting .rateyoHome {
  margin-bottom: 35px;
}
.rentModal .modal-dialog .modal-content .modal-body .aboutProduct .starReting .btnTypeProdct {
  color: #5E6269;
  padding: 6px 13px;
  background-color: #EEEDED;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 12px;
  cursor: pointer;
}
.rentModal .modal-dialog .modal-content .modal-body .rent {
  padding: 18px 0;
  margin: 0 21px;
  border-bottom: 1px solid #D8D8D8;
}
.rentModal .modal-dialog .modal-content .modal-body .rent table td.greyText {
  width: 171px;
}
.rentModal .modal-dialog .modal-content .modal-body .rent table tr .greyText {
  color: #90949B;
}
.rentModal .modal-dialog .modal-content .modal-body .rent table tr td span.greyText {
  margin-left: 5px;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent {
  padding: 18px 0;
  margin: 0 21px;
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .left {
  width: 57%;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .left table tr {
  height: 25px;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .left table tr td {
  color: #E35F46;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .left table tr .blackText {
  width: 171px;
  color: #000;
  white-space: nowrap;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .right {
  width: 43%;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .right .black {
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .right .black .red {
  color: #E35F46;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .right .grey {
  color: #90949B;
}
.rentModal .modal-dialog .modal-content .modal-body .priceRent .right .red {
  color: #E35F46;
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .price {
  padding: 17px 0;
  margin: 0 21px;
  border-bottom: 1px solid #D8D8D8;
}
.rentModal .modal-dialog .modal-content .modal-body .price h4 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .price h4 .red {
  color: #E35F46;
  font-weight: normal;
}
.rentModal .modal-dialog .modal-content .modal-body .massage {
  padding: 12px 0 21px 0;
  margin: 0 21px;
}
.rentModal .modal-dialog .modal-content .modal-body .massage .textTop {
  color: #3c3d3e;
  margin-bottom: 2px;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea {
  width: 100%;
  border: 1px solid #D8D8D8;
  outline: none;
  border-radius: 4px;
  max-height: 155px;
  min-height: 150px;
  resize: none;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea:hover {
  border: 1px solid #90949B;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea:focus {
  border: 1px solid #E35F46;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea::-webkit-input-placeholder {
  color: #90949B;
  line-height: 27px;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea:focus::-moz-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea:focus:-moz-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .massage textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .payment {
  padding: 12px 0 21px 0;
  margin: 0 21px;
  margin-top: -1px;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}
.rentModal .modal-dialog .modal-content .modal-body .payment h4 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 11px;
}
.rentModal .modal-dialog .modal-content .modal-body .payment p {
  color: #3c3d3e;
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .cancelRent {
  padding: 12px 0 21px 0;
  margin: 0 21px;
  border-bottom: 1px solid #D8D8D8;
}
.rentModal .modal-dialog .modal-content .modal-body .cancelRent h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  margin-bottom: 11px;
}
.rentModal .modal-dialog .modal-content .modal-body .cancelRent p {
  color: #3c3d3e;
  margin: 0;
}
.rentModal .modal-dialog .modal-content .modal-body .cancelRent p .red {
  color: #E35F46;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment {
  padding: 12px 0 21px 0;
  margin: 0 21px;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  margin-bottom: 11px;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput {
  margin-bottom: 25px;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput label {
  color: #90949B;
  font-weight: 100;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input {
  height: 36px;
  width: 50%;
  max-width: 290px;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  padding: 0 15px;
  outline: none;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input:hover {
  border: 1px solid #90949B;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input:focus {
  border: 1px solid #E35F46;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input::-webkit-input-placeholder {
  color: #90949B;
  line-height: 27px;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input:focus::-webkit-input-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input:focus::-moz-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input:focus:-moz-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .topInput input:focus:-ms-input-placeholder {
  color: transparent;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .bottomInput label {
  color: #000000;
  font-weight: normal;
}
.rentModal .modal-dialog .modal-content .modal-body .methodPayment .bottomInput label .rulesRed {
  text-decoration: none;
  color: #E35F46;
}
.rentModal .modal-dialog .modal-content .modal-body .bottomBlock {
  border-top: 1px solid #D8D8D8;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rentModal .modal-dialog .modal-content .modal-body .bottomBlock .question {
  color: #E35F46;
  text-decoration: none;
}
.rentModal .modal-dialog .modal-content .modal-body .bottomBlock .send {
  background-color: #4DC97B;
  outline: none;
  color: #fff;
  box-shadow: none;
  padding: 7px 26px;
  border: 1px solid #4DC97B;
  border-radius: 4px;
}
.rentModal .modal-dialog .modal-content .modal-body .bottomBlock .send:hover {
  background-color: #56E58B;
  border-color: #56E58B;
}
.rentModal .modal-dialog .modal-content .modal-body .bottomBlock .send:focus {
  background-color: #30B361;
  border-color: #30B361;
}
