@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/css/fonts/font1/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/css/fonts/HelveticaNeue-UltraLight.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/css/fonts/HelveticaNeue-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/css/fonts/HelveticaNeue-Bold.ttf");
}
.editProdct {
  border-bottom: 1px solid #D8D8D8;
}
.editProdct .container {
  width: 100%;
  max-width: 1020px;
  margin-top: 83px;
}
.editProdct .container .topRow {
  height: 70px;
}
.editProdct .container .topRow .col-sm-6 {
  margin-top: 25px;
  padding: 0;
  vertical-align: middle;
}
.editProdct .container .topRow .col-sm-6 p a {
  text-decoration: none;
  color: #E35F46;
}
.editProdct .container .topRow .col-sm-6 p a:hover {
  color: #DD4A2E;
  transition: 0.3s;
}
.editProdct .container .content {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-bottom: 59px;
}
.tabEditProdct .nav li.active a {
  background-color: #E35F46;
  color: #fff;
  border: none;
}
.tabEditProdct .nav li.active a .dich {
  border: 1px solid #fff;
  color: #fff;
}
.tabEditProdct .nav li.active a .count {
  color: #fff;
}
.tabEditProdct .nav li.zayobchyk a {
  padding: 11px 65px;
}
.tabEditProdct .nav li.zayobchyk a .count {
  top: 36%;
}
.tabEditProdct .nav li {
  width: 25%;
}
.tabEditProdct .nav li a {
  border: none;
  border-left: 1px solid #D8D8D8;
  border-radius: 0;
  box-shadow: none;
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  position: relative;
  padding: 21px 62px;
}
.tabEditProdct .nav li a .dich {
  border: 1px solid #E35F46;
  border-radius: 50%;
  padding: 5px 11px;
  margin-right: 10px;
  color: #E35F46;
  position: absolute;
  left: 7.8%;
  top: 24%;
}
.tabEditProdct .nav li a .count {
  color: #E35F46;
  position: absolute;
  right: 7%;
}
.tabEditProdct .nav li a:hover {
  background-color: #FF6D51;
  color: #fff;
}
.tabEditProdct .nav li a:hover .dich {
  border: 1px solid #fff;
  color: #fff;
}
.tabEditProdct .nav li a:hover .count {
  color: #fff;
}
.tabEditProdct .nav li:first-child a {
  border-radius: 4px 0 0 0;
  border-left: none;
}
.tabEditProdct .nav li:last-child a {
  border-right: none;
  border-radius: 0 4px 0 0;
}
.tab-content #about .topBlock {
  padding: 27px 19px 0 19px;
}
.tab-content #about .topBlock h3 {
  margin: 0;
  margin-bottom: 23px;
}
.tab-content #about .topBlock .formAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tab-content #about .topBlock .formAbout label {
  margin-bottom: 4px;
}
.tab-content #about .topBlock .formAbout input,
.tab-content #about .topBlock .formAbout textarea {
  width: 100%;
  max-width: 450px;
  margin-bottom: 17px;
}
.tab-content #about .topBlock .formAbout textarea {
  height: 146px;
}
.tab-content #about .topBlock .formAbout .popover {
  width: 310px;
  padding: 15px 15px 27px 21px;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
  margin-left: 20px;
}
.tab-content #about .specification {
  padding: 0 19px;
}
.tab-content #about .specification h3 {
  margin: 0;
  margin-bottom: 11px;
  margin-top: 14px;
  border-top: 1px solid #D8D8D8;
  padding-top: 29px;
}
.tab-content #about .specification p {
  margin-bottom: 22px;
}
.tab-content #about .specification .paddBlock {
  margin-left: 31px;
}
.tab-content #about .specification .Wi {
  margin-bottom: 20px;
}
.tab-content #about .specification a.btn {
  border: 1px solid #D8D8D8;
  color: #E35F46;
  box-shadow: none;
  margin-bottom: 31px;
  margin-top: 31px;
}
.tab-content #about .specification a.btn:hover {
  border: 1px solid #E35F46;
}
.tab-content #about .specification a.btn:focus {
  color: #fff;
  background-color: #DD4A2E;
  border: 1px solid #DD4A2E;
}
.tab-content #fotoVideo .topBlock {
  padding: 25px 20px 20px 20px;
}
.tab-content #fotoVideo .topBlock h3 {
  margin: 0;
  margin-bottom: 25px;
}
.tab-content #fotoVideo .topBlock .formDownload {
  padding-top: 30px;
  width: 100%;
  height: 239px;
  border: 1px dashed #D8D8D8;
  border-radius: 4px;
}
.tab-content #fotoVideo .topBlock .formDownload .boldText {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.tab-content #fotoVideo .topBlock .formDownload .smallText {
  color: #3C3D3E;
  margin-top: 8px;
  margin-bottom: 0px;
}
.tab-content #fotoVideo .topBlock .formDownload .imgLoad {
  height: 56px;
  width: 46px;
  margin-bottom: 17px;
}
.tab-content #fotoVideo .topBlock .formDownload input#loadImgVideo {
  display: none;
}
.tab-content #fotoVideo .topBlock .formDownload label.btnFoto {
  border: 1px solid #D8D8D8;
  color: #E35F46;
  border-radius: 4px;
  padding: 7px 22px;
}
.tab-content #fotoVideo .col-sm-4 h5 {
  margin: 0;
  color: #E35F46;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.tab-content #fotoVideo .col-sm-4 p {
  width: 100%;
  max-width: 300px;
  color: #3C3D3E;
  margin: 0;
}
.tab-content #fotoVideo .file {
  padding: 25px 20px 20px 20px;
}
.tab-content #fotoVideo .file .topLine {
  border-top: 1px solid #D8D8D8;
  padding-top: 27px;
}
.tab-content #fotoVideo .file .topLine .btn-group {
  width: 45.5%;
}
.tab-content #fotoVideo .file .topLine .btn-group .active {
  background-color: #E35F46;
  border-color: #E35F46;
  color: #fff;
}
.tab-content #fotoVideo .file .topLine .btn-group .active:hover {
  background-color: #E35F46;
  color: #fff;
  border-color: #E35F46;
}
.tab-content #fotoVideo .file .topLine .btn-group button {
  padding: 4px 12px;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  width: 77px;
  outline: none;
  box-shadow: none;
  background-color: #fff;
  border-color: #D8D8D8;
}
.tab-content #fotoVideo .file .topLine .btn-group button:hover {
  background-color: #fff;
  border-color: #90949B;
}
.tab-content #fotoVideo .file .topLine .btn-group button:focus {
  color: #fff;
  background-color: #E35F46;
  border-color: #E35F46;
}
.tab-content #fotoVideo .file .topLine span {
  color: #000000;
}
.tab-content #fotoVideo .file .noneFile {
  padding-top: 70px;
  padding-bottom: 46px;
}
.tab-content #fotoVideo .file .row .col-sm-6 {
  padding: 0 10px;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail {
  border: none;
  padding: 0;
  width: 100%;
  max-width: 482px;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .img {
  position: relative;
  width: 100%;
  height: auto;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail img {
  max-width: 482px;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px 10px 15px 10px;
  display: none;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow .topLine {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow .topLine span {
  background-color: #E35F46;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  padding: 3px;
  border: none;
  cursor: pointer;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow .middleLine button {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  color: #000;
  font-size: 12px;
  padding: 8px 24px;
  outline: none;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow .middleLine button:hover {
  background-color: #E35F46;
  color: #fff;
  transition: 0.3s;
  border-color: #E35F46;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow .bottomLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .shadow .bottomLine a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .caption {
  padding: 20px 0 30px 0;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail .caption textarea {
  height: 36px;
  width: 100%;
  resize: none;
  padding-top: 3px;
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail:hover .shadow {
  display: flex;
  transition: 2s;
  box-shadow: 0 6px 14px 1px rgba(0, 0, 0, 0.14);
}
.tab-content #fotoVideo .file .row .col-sm-6 .thumbnail:hover textarea {
  border-color: #E35F46;
}
.tab-content #date .dateRent {
  margin-bottom: 10px;
}
.tab-content #date .dateRent .blockMin,
.tab-content #date .dateRent .blockMax {
  margin-bottom: 20px;
}
.tab-content #date .dateRent .blockMin input#minNumber,
.tab-content #date .dateRent .blockMax input#minNumber,
.tab-content #date .dateRent .blockMin #maxNumber,
.tab-content #date .dateRent .blockMax #maxNumber {
  width: 72px;
  margin-right: 17px;
  margin-left: 17px;
}
.tab-content #date .dateRent .blockMin input#minText,
.tab-content #date .dateRent .blockMax input#minText,
.tab-content #date .dateRent .blockMin #maxText,
.tab-content #date .dateRent .blockMax #maxText {
  width: 102px;
}
.tab-content #date .dateRent .blockMax input#maxNumber {
  margin-left: 13px;
}
.tab-content #date .reserv,
.tab-content #date .pause,
.tab-content #date .yearPlan {
  padding: 0 20px;
}
.tab-content #date .reserv h3,
.tab-content #date .pause h3,
.tab-content #date .yearPlan h3 {
  margin-top: 0;
  border-top: 1px solid #D8D8D8;
  padding-top: 23px;
}
.tab-content #date .reserv .btn-group,
.tab-content #date .pause .btn-group,
.tab-content #date .yearPlan .btn-group {
  width: 100%;
  max-width: 840px;
  margin-bottom: 31px;
  margin-top: 6px;
}
.tab-content #date .reserv .btn-group button,
.tab-content #date .pause .btn-group button,
.tab-content #date .yearPlan .btn-group button {
  width: 20%;
  padding: 7px 0;
}
.tab-content #date .visit {
  padding: 0 20px;
}
.tab-content #date .visit h3 {
  margin-top: 0;
  border-top: 1px solid #D8D8D8;
  padding-top: 23px;
}
.tab-content #date .visit .inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tab-content #date .visit .inline .grey {
  color: #90949B;
  width: 30%;
}
.tab-content #date .visit .inline .right {
  width: 70%;
  color: #90949B;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.tab-content #date .visit .inline .right .hourFrom {
  max-width: 72px;
  margin-right: 20px;
}
.tab-content #date .visit .inline .right .hourTo {
  max-width: 72px;
  margin: 0 20px;
}
.tab-content #date .visit .inline .right .timeZone {
  width: 400px;
}
.tab-content #date .visit .inline .right .timeZone button span,
.tab-content #date .visit .inline .right .hourTo button span,
.tab-content #date .visit .inline .right .hourFrom button span {
  margin-left: 3%;
}
.tab-content #date .datePicker {
  padding: 0 20px;
  padding-bottom: 20px;
}
.tab-content #date .datePicker h3 {
  margin-top: 0;
  border-top: 1px solid #D8D8D8;
  padding-top: 23px;
}
.tab-content #date .datePicker .date-picker-wrapper {
  z-index: 999;
}
.tab-content #date .datePicker .date-picker-wrapper:before {
  display: none;
}
.tab-content #date .datePicker .date-picker-wrapper:after {
  display: none;
}
.tab-content #date .datePicker .date-picker-wrapper .month-wrapper {
  box-shadow: none;
}
.tab-content #date .datePicker .month-wrapper {
  width: 325px!important;
}
.tab-content #settings .prise .input-group {
  width: 100%;
  max-width: 287px;
}
.tab-content #settings .prise .input-group input {
  width: 52%;
}
.tab-content #settings .pledge,
.tab-content #settings .longPledge,
.tab-content #settings .discount,
.tab-content #settings .autoPladge,
.tab-content #settings .trust {
  padding: 0 20px 31px 20px;
}
.tab-content #settings .pledge h3,
.tab-content #settings .longPledge h3,
.tab-content #settings .discount h3,
.tab-content #settings .autoPladge h3,
.tab-content #settings .trust h3 {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #D8D8D8;
  padding-top: 23px;
}
.tab-content #settings .pledge input,
.tab-content #settings .longPledge input,
.tab-content #settings .discount input,
.tab-content #settings .autoPladge input,
.tab-content #settings .trust input {
  max-width: 147px;
}
.tab-content #settings .pledge .dropdown,
.tab-content #settings .longPledge .dropdown,
.tab-content #settings .discount .dropdown,
.tab-content #settings .autoPladge .dropdown,
.tab-content #settings .trust .dropdown {
  max-width: 147px;
}
.tab-content #settings .pledge img,
.tab-content #settings .longPledge img,
.tab-content #settings .discount img,
.tab-content #settings .autoPladge img,
.tab-content #settings .trust img {
  margin-left: 20px;
}
.tab-content #settings .longPledge .dropdown {
  margin-left: 10px;
  max-width: 147px;
  display: inline;
}
.tab-content #settings .longPledge .dropdown button {
  max-width: 147px;
}
.tab-content #settings .longPledge .dropdown button span {
  margin-left: 36%;
}
.tab-content #settings .discount {
  padding-bottom: 0;
}
.tab-content #settings .discount .grey {
  color: #90949B;
  padding-bottom: 10px;
}
.tab-content #settings .discount .pledgePrise,
.tab-content #settings .discount .allPrice {
  margin-bottom: 25px;
  margin-top: 5px;
}
.tab-content #settings .discount .pledgePrise input,
.tab-content #settings .discount .allPrice input {
  max-width: 52px;
}
.tab-content #settings .discount .allPrice {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 0;
  padding-bottom: 31px;
}
.tab-content #settings .mapsText {
  padding-top: 23px;
  padding-left: 20px;
}
.tab-content #settings .mapsText h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
.tab-content #settings .mapsText input#sity {
  width: 100%;
  max-width: 450px;
  margin-bottom: 23px;
}
.tab-content #settings .mapsText input#distance {
  width: 100%;
  max-width: 77px;
  margin-bottom: 23px;
}
.tab-content #settings .mapsText input#manuDistanse {
  max-width: 107px;
  margin-bottom: 23px;
}
.tab-content #settings .mapsText img {
  margin-left: 20px;
}
.tab-content #settings .mapsText .grey {
  color: #90949B;
}
.tab-content #settings .maps {
  padding-right: 20px;
  width: 300px;
  height: 180px;
}
.tab-content #settings .autoPladge {
  padding-bottom: 0;
}
.tab-content #settings .autoPladge h3 {
  margin-bottom: 23px;
}
.tab-content #settings .autoPladge input {
  margin-bottom: 25px;
}
.tab-content #settings .autoPladge label {
  color: #000;
}
.tab-content #settings .autoPladge .grey {
  color: #90949B;
  margin-left: 15px;
}
.tab-content #settings .autoPladge #ratingInput {
  margin-left: 15px;
  max-width: 127px;
}
.tab-content #settings .autoPladge #ratingInput span {
  margin-left: 64%;
}
.tab-content #settings .trust label {
  color: #000000;
}
.tab-content .bottomBlock {
  border-top: 1px solid #D8D8D8;
  padding: 30px 20px;
}
.tab-content .left {
  margin-top: -4px;
}
.tab-content .left .topLine {
  width: 100%;
  max-width: 426px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tab-content .left .topLine .text {
  color: #90949B;
}
.tab-content .left .topLine .count {
  color: #000;
  font-weight: 600;
  text-align: right;
}
.tab-content .left .bottomLine {
  width: 100%;
  max-width: 426px;
}
.tab-content .left .bottomLine span {
  background-color: #EEEDED;
  height: 6px;
  margin-right: -3px;
  width: 19.8%;
  display: inline-block;
}
.tab-content .right .btn {
  box-shadow: none;
}
.tab-content .right .default {
  color: #90949B;
}
.tab-content .right .red {
  color: #E35F46;
  border: 1px solid #D8D8D8;
  padding: 7px 23px;
}
.tab-content .right .red:hover {
  border: 1px solid #E35F46;
}
.tab-content .right .red:focus {
  color: #fff;
  background-color: #E35F46;
  border: 1px solid #E35F46;
}
.tab-content .right .green {
  border: 1px solid #4DC97B;
  color: #fff;
  background-color: #4DC97B;
  margin-left: 21px;
  padding: 7px 22px;
}
.tab-content .right .green:hover {
  border: 1px solid #56E58B;
  background-color: #56E58B;
}
.tab-content .right .green:focus {
  background-color: #30B361;
  border: 1px solid #30B361;
}
.tab-content .styleInput label {
  color: #90949B;
  font-size: 14px;
  font-weight: normal;
}
.tab-content .styleInput input,
.tab-content .styleInput textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  padding: 7px 0 7px 10px;
  outline: none;
}
.tab-content .styleInput input:hover,
.tab-content .styleInput textarea:hover {
  border: 1px solid #90949B;
}
.tab-content .styleInput input:focus,
.tab-content .styleInput textarea:focus {
  border: 1px solid #E35F46;
}
.tab-content .styleInput input::-webkit-input-placeholder,
.tab-content .styleInput textarea::-webkit-input-placeholder {
  color: #90949B;
  line-height: 27px;
}
.tab-content .styleInput input:focus::-webkit-input-placeholder,
.tab-content .styleInput textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.tab-content .styleInput input:focus::-moz-placeholder,
.tab-content .styleInput textarea:focus::-moz-placeholder {
  color: transparent;
}
.tab-content .styleInput input:focus:-moz-placeholder,
.tab-content .styleInput textarea:focus:-moz-placeholder {
  color: transparent;
}
.tab-content .styleInput input:focus:-ms-input-placeholder,
.tab-content .styleInput textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.tab-content .styleInput .labelDroppMenu {
  color: #90949B;
}
.tab-content .styleInput .blackLabel {
  color: #000;
  margin-left: 7px;
}
.tab-content .styleInput .dropdown {
  margin-top: 7px;
  margin-bottom: 21px;
}
.tab-content .styleInput .dropdown button {
  width: 100%;
  max-width: 287px;
  text-align: left;
  outline: none;
  border: 1px solid #D8D8D8;
  padding: 7px 12px;
}
.tab-content .styleInput .dropdown button:hover {
  border: 1px solid #90949B;
}
.tab-content .styleInput .dropdown button:focus {
  background-color: #fff;
  border: 1px solid #E35F46;
  color: #E35F46;
}
.tab-content .styleInput .dropdown button span {
  margin-left: 55%;
  padding: 0;
}
.tab-content .styleInput .dropdown ul.dropdown-menu {
  width: 100%;
  max-width: 287px;
}
.tab-content .styleInput .dropdown ul.dropdown-menu li a {
  outline: none;
}
.tab-content .styleInput .dropdown ul.dropdown-menu li a:hover {
  color: #fff;
  background-color: #E35F46;
}
.tab-content .styleInput .btn-group button {
  color: #000;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #D8D8D8;
}
.tab-content .styleInput .btn-group button:hover {
  background-color: #fff;
  border-color: #90949B;
}
.tab-content .styleInput .btn-group button:focus {
  color: #fff;
  background-color: #E35F46;
  border-color: #E35F46;
}
.tab-content .styleText h3 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 9px;
}
.tab-content .styleText p {
  color: #3C3D3E;
}
