@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/css/fonts/font1/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/css/fonts/HelveticaNeue-UltraLight.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/css/fonts/HelveticaNeue-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/css/fonts/HelveticaNeue-Bold.ttf");
}
.popover-test {
  padding: 12px;
  height: auto;
  width: 360px;
}
.popover-test h5 {
  margin: 5px 0;
}
.popover-test p {
  margin: 0;
}
.popover-test .arrow {
  top: 25% !important;
}
.row .container .profilePage {
  max-width: 1020px;
  margin-left: 60px;
  margin-top: 82px;
}
.row .container .profilePage .linkFirstPage {
  padding: 0;
  margin: 25px 0 27px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row .container .profilePage .linkFirstPage a {
  color: #90949B;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.row .container .profilePage .linkFirstPage a svg {
  margin-bottom: -2px;
}
.row .container .profilePage .linkFirstPage a svg #editIcon {
  fill: #90949B;
}
.row .container .profilePage .linkFirstPage a:hover {
  color: #FF6D51;
}
.row .container .profilePage .linkFirstPage a:hover #editIcon {
  fill: #FF6D51;
}
.row .container .profilePage .linkFirstPage a:active {
  color: #DD4A2E;
}
.row .container .profilePage .linkFirstPage a:active #editIcon {
  fill: #DD4A2E;
}
.row .container .profilePage .styleBlock {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.row .container .profilePage .contentProf {
  padding: 0;
  max-width: 673px;
}
.row .container .profilePage .contentProf .blockInf {
  padding: 22px 20px 26px 20px;
}
.row .container .profilePage .contentProf .blockInf .topInf {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 48px;
  border-bottom: 1px solid #d8d8d8;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  margin: 5px 27px 5px 5px;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .fotoAccount {
  height: 115px;
  border-radius: 50%;
  margin: 3px 3px 20px;
  outline: none;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .Foto1 {
  background-color: grey;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .Foto2 {
  background-color: red;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .Foto3 {
  background-color: yellow;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf button {
  position: absolute;
  bottom: -40px;
  border: 1px solid #D8D8D8;
  background-color: #fff;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
  padding: 0 6px;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .slick-prev {
  right: 0;
  z-index: 20;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .slick-next {
  left: 0;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -12px;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .slick-dots li {
  list-style-type: circle;
  cursor: pointer;
}
.row .container .profilePage .contentProf .blockInf .topInf .fotoManInf .slick-dots li button {
  display: none;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser {
  width: 71%;
  padding-top: 4px;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser h4 {
  margin: 0;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 7px;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser p {
  color: #90949B;
  font-size: 14px;
  margin: 0 0 7px;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser p svg {
  margin: 0 15px -4px 0;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo {
  margin-top: 25px;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .btn {
  outline: none;
  box-shadow: none;
  border: none;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .subscript {
  padding: 7px 39px;
  margin-right: 18px;
  background-color: #4DC97B;
  color: #fff;
  font-size: 14px;
  border: 1px solid #4DC97B;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .subscript:hover {
  background-color: #56E58B;
  border: 1px solid #56E58B;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .subscript:active {
  background-color: #30B361;
  border: 1px solid #30B361;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .contact {
  background-color: transparent;
  color: #E35F46;
  font-size: 14px;
  border: 1px solid #D8D8D8;
  padding: 7px 49px;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .contact:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.row .container .profilePage .contentProf .blockInf .topInf .textAbounUser .buttonTwo .contact:active {
  border: 1px solid #E35F46;
  color: #fff;
  background-color: #E35F46;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown button span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  margin: 2px;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown button:hover span {
  border: 1px solid #E35F46;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu {
  top: 5px;
  width: auto;
  height: auto;
  left: -194px;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu::after {
  left: 94%;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu::before {
  left: 94%;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu li a {
  padding: 13px 25px 13px 19px;
  color: #000;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu li a .imgLiPunct {
  margin-top: 3px;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu li a .imgLiPunct #imgLiPunct {
  fill: #AFAFAF;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu li a:hover {
  color: #fff;
}
.row .container .profilePage .contentProf .blockInf .topInf .dropdown .dropdown-menu li a:hover #imgLiPunct {
  fill: #FFF;
}
.row .container .profilePage .contentProf .blockInf .reewardInf {
  margin-top: 26px;
  padding: 0 38px;
}
.row .container .profilePage .contentProf .blockInf .reewardInf .award {
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
}
.row .container .profilePage .contentProf .blockInf .reewardInf .award img {
  padding: 0 45%;
}
.row .container .profilePage .contentProf .blockInf .reewardInf .award .caption h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.row .container .profilePage .contentProf .blockInf .reewardInf .award .caption h4 span {
  color: #E35F46;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf {
  border-top: 1px solid #D8D8D8;
  padding-top: 27px;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf p {
  line-height: 1.5;
  margin: 13px 0 0 0 ;
  text-overflow: ellipsis;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf a {
  margin-top: 8px;
  color: #E35F46;
  text-decoration: none;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf a:hover {
  color: #FF6D51;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf a:active {
  color: #DD4A2E;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf a .greenBtnDown #greenBtnDown {
  stroke: #4DC97B;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf a:hover #greenBtnDown {
  stroke: #56E58B;
}
.row .container .profilePage .contentProf .blockInf .aboutMeinf a:active #greenBtnDown {
  stroke: #30B361;
}
.row .container .profilePage .contentProf .blockFedbackHear {
  padding: 21px 21px 30px 20px;
  margin-top: 20px;
}
.row .container .profilePage .contentProf .blockFedbackHear h3 {
  font-size: 18px;
  padding-top: 8px;
  font-weight: bold;
  color: #000;
  margin: 0;
}
.row .container .profilePage .contentProf .blockFedbackHear .activeBorder {
  border: 1px solid #E35F46 !important;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback {
  margin-top: 15px;
  width: 100%;
  height: 155px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding: 15px 20px 19px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback:hover {
  border: 1px solid #90949B;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form span {
  color: #90949B;
  font-size: 14px;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form textarea {
  resize: none;
  height: 78px;
  border: none;
  margin-bottom: 10px;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form textarea:focus {
  outline: none;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form textarea:focus .blockFedback {
  border: 1px solid #E35F46;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .fotoBtn {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  color: #E35F46;
  font-size: 14px;
  box-shadow: none;
  text-decoration: none;
  padding: 0px 26px 6px 26px;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .fotoBtn .attach {
  margin-bottom: -3px;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .fotoBtn .attach #attach {
  fill: #AFAFAF;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .fotoBtn:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .fotoBtn:active {
  background-color: #E35F46;
  color: #fff;
  border: 1px solid #E35F46;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .fotoBtn:active #attach {
  fill: #fff;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .submitBtn {
  color: #fff;
  font-size: 14px;
  background-color: #4DC97B;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 8px 23px;
  margin-left: 21px;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .submitBtn:hover {
  background-color: #56E58B;
  transition: 0.3s;
}
.row .container .profilePage .contentProf .blockFedbackHear .blockFeedback form .inlineBlockBtn .submitBtn:active {
  background-color: #30B361;
}
.row .container .profilePage .contentProf .blockFedbackHear textarea:focus .blockFedback {
  border: 1px solid #E35F46;
}
.row .container .profilePage .contentProf .blockFedback {
  margin-top: 20px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback {
  border-bottom: 1px solid #D8D8D8;
  margin: 22px 20px 26px 20px;
  padding-bottom: 25px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .postText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .fedbackAll .imgUserFedback {
  position: relative;
  width: 55px;
  padding: 3px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .fedbackAll .borderProfil {
  padding-bottom: 30px;
  border-bottom: 1px solid #D8D8D8;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .fedbackAll .greenInputFoto {
  border: 5px solid #4DC97B;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  z-index: 1;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback {
  margin-left: 16px;
  max-width: 100%;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .inlineTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px 0;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .inlineTitle h4 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .inlineTitle span {
  color: #90949B;
  margin-left: 10px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .howProduct {
  margin-bottom: 7px;
  color: #90949B;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .howProduct span {
  color: #E35F46;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .eventBtn {
  text-decoration: none;
  color: #5E6269;
  background-color: #EEEDED;
  padding: 4px 18px;
  border-radius: 4px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .textFedbackAll {
  color: #3C3D3E;
  margin: 13px 0 0 0;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback a {
  margin-top: 5px;
  color: #E35F46;
  text-decoration: none;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback a:hover {
  color: #FF6D51;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .slideComment {
  max-width: 530px;
  padding-bottom: 20px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .slideComment img {
  width: 100%;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .slick-slider {
  position: relative;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .slick-slider button {
  position: absolute;
  bottom: 0;
  border: 1px solid #D8D8D8;
  background-color: #fff;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
  padding: 0 6px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .slick-slider .slick-prev {
  right: 35%;
  z-index: 20;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .slick-slider .slick-next {
  left: 35%;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .more {
  padding-top: 15px;
  text-decoration: none;
  color: #E35F46;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .more:hover {
  color: #90949B;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .more .redBtnDown #redBtnDown {
  stroke: #E35F46;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .userTextFedback .more:hover #redBtnDown {
  stroke: #90949B;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown button span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  margin: 2px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown button:hover span {
  border: 1px solid #E35F46;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu {
  top: 5px;
  width: auto;
  height: auto;
  left: -194px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu::after {
  left: 94%;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu::before {
  left: 94%;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu li a {
  padding: 13px 25px 13px 19px;
  color: #000;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu li a .imgLiPunct {
  margin-top: 3px;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu li a .imgLiPunct #imgLiPunct {
  fill: #AFAFAF;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu li a:hover {
  color: #fff;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .textFedback .dropdown .dropdown-menu li a:hover #imgLiPunct {
  fill: #FFF;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .likeBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  cursor: pointer;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .likeBlock .like #like {
  fill: #90949B;
}
.row .container .profilePage .contentProf .blockFedback .postFedback .likeBlock .like:hover #like {
  fill: #E35F46;
}
.row .container .profilePage .contentProf .blockFedback .btnPlace {
  padding: 20px;
}
.row .container .profilePage .contentProf .blockFedback .btnPlace .btnAllPost {
  outline: none;
  box-shadow: none;
  border: 1px solid #D8D8D8;
  color: #E35F46;
  background-color: #fff;
}
.row .container .profilePage .contentProf .blockFedback .btnPlace .btnAllPost:hover {
  border: 1px solid #E35F46;
}
.row .container .profilePage .contentProf .blockFedback .btnPlace .btnAllPost:active {
  border: 1px solid #E35F46;
  background-color: #E35F46;
  color: #fff;
}
.row .container .profilePage .contentProf .blockDateReg {
  margin-top: 20px;
}
.row .container .profilePage .contentProf .blockDateReg p {
  padding: 25px 0;
  color: #3C3D3E;
  font-size: 16px;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost {
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .titleMasseg {
  font-size: 30px;
  color: #000;
  padding: 24px 0 0;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .subTitleMasseg {
  font-size: 16px;
  color: #3C3D3E;
  padding: 11px 0 0;
  margin-bottom: 10px;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment {
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 15px;
  align-items: flex-start;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form {
  width: 100%;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form span {
  font-size: 14px;
  color: #90949B;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form textarea {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form .butt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form .butt button {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  background-color: #4DC97B;
  color: #fff;
  padding: 6px 20px;
  font-size: 14px;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form .butt button:hover {
  background-color: #56E58B;
}
.row .container .profilePage .contentProf .blockDateReg .nowPost .blockComment form .butt button:active {
  background-color: #30B361;
}
.row .container .profilePage .nowPost {
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row .container .profilePage .nowPost .titleMasseg {
  font-size: 30px;
  color: #000;
  padding: 24px 0 0;
}
.row .container .profilePage .nowPost .subTitleMasseg {
  font-size: 16px;
  color: #3C3D3E;
  padding: 11px 0 0;
  margin-bottom: 10px;
}
.row .container .profilePage .nowPost .blockComment {
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 15px;
  align-items: flex-start;
}
.row .container .profilePage .nowPost .blockComment form {
  width: 100%;
}
.row .container .profilePage .nowPost .blockComment form span {
  font-size: 14px;
  color: #90949B;
}
.row .container .profilePage .nowPost .blockComment form textarea {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
}
.row .container .profilePage .nowPost .blockComment form .butt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.row .container .profilePage .nowPost .blockComment form .butt button {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  background-color: #4DC97B;
  color: #fff;
  padding: 6px 20px;
  font-size: 14px;
}
.row .container .profilePage .nowPost .blockComment form .butt button:hover {
  background-color: #56E58B;
}
.row .container .profilePage .nowPost .blockComment form .butt button:active {
  background-color: #30B361;
}
.row .container .profilePage .sidebarProf {
  padding: 0;
  margin-left: 20px;
  max-width: 327px;
}
.row .container .profilePage .sidebarProf .addition .blackFon {
  padding: 17px 20px 15px 22px;
  background-color: #5E6269;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 16px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent {
  padding: 20px 20px 34px 20px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .video {
  width: 100%;
  height: 229px;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 25px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .ratingBlock {
  margin-top: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D8D8D8;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .ratingBlock .owner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .ratingBlock .owner p {
  color: #90949B;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .ratingBlock .owner .numberReting {
  display: inherit;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .ratingBlock .owner .numberReting .rateyo {
  padding: 1px 5px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .ratingBlock .owner .numberReting .numberOw {
  color: #000;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .btnSelected {
  border: 1px solid #D8D8D8;
  color: #E35F46;
  text-decoration: none;
  padding: 7px 1px;
  box-shadow: none;
  outline: none;
  margin: 30px 0;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .btnSelected:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .btnSelected:active {
  border: 1px solid #E35F46;
  background-color: #E35F46;
  color: #fff;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .mediaBlock {
  padding-top: 27px;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 20px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .mediaBlock .media .media-body h4 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .mediaBlock .media .media-body p {
  margin: 0;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .confirmed {
  margin-top: 22px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .confirmed ul {
  margin-bottom: 0;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .confirmed ul .frequency {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #90949B;
  font-weight: normal;
  font-size: 15px;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .confirmed ul .frequency span {
  color: #000;
  font-weight: bold;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .confirmed ul .progress {
  height: 4px;
  margin-bottom: 0;
}
.row .container .profilePage .sidebarProf .addition .paddingContent .confirmed ul .progress .progress-bar {
  margin-bottom: 0;
  background-color: #4DC97B;
  height: 4px;
}
.row .container .profilePage .sidebarProf .advert {
  margin-top: 20px;
}
.row .container .profilePage .sidebarProf .advert .blackFon {
  padding: 17px 20px 15px 22px;
  background-color: #5E6269;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 16px;
}
.row .container .profilePage .sidebarProf .advert .paddingContent {
  border-bottom: 1px solid #D8D8D8;
  padding: 20px 20px 4px 20px;
}
.row .container .profilePage .sidebarProf .advert .paddingContent .blockMedia .media {
  margin-bottom: 30px;
}
.row .container .profilePage .sidebarProf .advert .paddingContent .blockMedia .media .media-left {
  margin-left: 20px;
}
.row .container .profilePage .sidebarProf .advert .paddingContent .blockMedia .media .media-body h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.row .container .profilePage .sidebarProf .advert .paddingContent .blockMedia .media .media-body p {
  margin: 0;
  color: #90949B;
}
.row .container .profilePage .sidebarProf .advert .bottomPlaseBtn {
  padding: 32px 20px;
}
.row .container .profilePage .sidebarProf .advert .bottomPlaseBtn .showAllMedia {
  border: 1px solid #D8D8D8;
  color: #E35F46;
  box-shadow: none;
  outline: none;
}
.row .container .profilePage .sidebarProf .advert .bottomPlaseBtn .showAllMedia:hover {
  border: 1px solid #E35F46;
}
.row .container .profilePage .sidebarProf .advert .bottomPlaseBtn .showAllMedia:active {
  border: 1px solid #E35F46;
  background-color: #E35F46;
  color: #fff;
}
