@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/css/fonts/font1/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/css/fonts/HelveticaNeue-UltraLight.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/css/fonts/HelveticaNeue-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/css/fonts/HelveticaNeue-Bold.ttf");
}
.windowFound {
  background-color: #fbfbfb;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.windowFound .found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  margin-left: 60px;
  margin-top: 140px;
  margin-bottom: 60px;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 60px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.windowFound .found .bigText {
  font-size: 30px;
  margin: 0;
  color: #000;
}
.windowFound .found .smallText {
  font-size: 16px;
  color: #000;
  margin-bottom: 56px;
}
.windowFound .found .headSearch {
  margin-left: 0;
}
.windowFound .found .bottomBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.windowFound .found .bottomBtn .green {
  background-color: #4DC97B;
  color: #fff;
  font-size: 14px;
  box-shadow: none;
  border: 1px solid #4DC97B;
  padding: 7px 55px;
  margin-right: 20px;
}
.windowFound .found .bottomBtn .green:hover {
  background-color: #56E58B;
  border: 1px solid #56E58B;
}
.windowFound .found .bottomBtn .green:focus {
  background-color: #30B361;
  border: 1px solid #30B361;
}
.windowFound .found .bottomBtn .red {
  color: #E35F46;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid #D8D8D8;
  padding: 7px 23px;
}
.windowFound .found .bottomBtn .red:hover {
  border: 1px solid #E35F46;
}
.windowFound .found .bottomBtn .red:focus {
  border: 1px solid #DD4A2E;
  background-color: #DD4A2E;
  color: #fff;
}
.windowFilter {
  display: none;
  box-sizing: border-box;
  border: 1px solid #D8D8D8;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.16);
}
.windowFilter .container .filter {
  padding-top: 20px;
  max-width: 1020px;
  margin-left: 60px;
  margin-top: 82px;
}
.windowFilter .container .filter form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #D8D8D8;
  padding: 8px 0;
}
.windowFilter .container .filter form .form-group .col-sm-3 {
  padding: 0;
  color: #90949B;
  font-weight: 500;
  text-transform: capitalize;
}
.windowFilter .container .filter form .form-group .col-sm-9 {
  padding: 0;
  color: #000;
  font-weight: normal;
}
.windowFilter .container .filter form .form-group .col-sm-9 .slider-horizontal {
  width: 293px;
  margin: 0 36px;
}
.windowFilter .container .filter form .form-group .col-sm-9 .slider .slider-track {
  height: 4px;
}
.windowFilter .container .filter form .form-group .col-sm-9 .slider .slider-track .slider-handle {
  background-color: #fff;
  border: 1px solid #E35F46;
  background-image: none;
  box-shadow: 0 2px 4px 0 rgba(227, 95, 70, 0.3);
  width: 21px;
  height: 21px;
  margin-top: -9px;
}
.windowFilter .container .filter form .form-group .col-sm-9 .slider .slider-track .slider-selection {
  background-color: #E35F46;
  background-image: none;
}
.windowFilter .container .filter form .form-group .col-sm-9 .slider .slider-track .slider-track-low,
.windowFilter .container .filter form .form-group .col-sm-9 .slider .slider-track .slider-track-high {
  background-image: none;
  background-color: #D8D8D8;
}
.windowFilter .container .filter form .form-group .col-sm-9 .rateyoHome {
  float: left;
}
.windowFilter .container .filter form .form-group .col-sm-9 .rateyoHome svg {
  margin-right: 4px;
}
.windowFilter .container .filter form .form-group .col-sm-9 input {
  border: 1px solid #D8D8D8;
  box-shadow: none;
  outline: none;
  color: #90949B;
  padding: 7px 11px;
  font-size: 14px;
  height: auto;
}
.windowFilter .container .filter form .form-group .col-sm-9 input:hover {
  border: 1px solid #90949B;
  transition: 0.3s;
}
.windowFilter .container .filter form .form-group .col-sm-9 input:focus {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.windowFilter .container .filter form .form-group .col-sm-9 input:hover .input-group-addon {
  border: 1px solid #90949B;
}
.windowFilter .container .filter form .form-group .col-sm-9 input:focus .input-group-addon {
  border: 1px solid #E35F46;
}
.windowFilter .container .filter form .form-group .col-sm-9 .input-group-addon {
  background-color: #fff;
}
.windowFilter .container .filter form .form-group .col-sm-9 .radio,
.windowFilter .container .filter form .form-group .col-sm-9 .checkbox {
  margin-top: 0;
  float: left;
  width: 25%;
  text-transform: capitalize;
}
.windowFilter .container .filter form .form-group .tglAttrs {
  background-color: transparent;
  padding: 5px 5px;
  border: none;
  outline: none;
  box-shadow: none;
}
.windowFilter .container .filter form .bottomBtn {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.windowFilter .container .filter form .bottomBtn .cancel {
  background-color: transparent;
  color: #90949B;
  margin-right: 10px;
  outline: none;
}
.windowFilter .container .filter form .bottomBtn .more {
  background-color: #E35F46;
  color: #fff;
  box-shadow: none;
  outline: none;
  margin-right: 10px;
}
.windowFilter .container .filter form .bottomBtn .more:hover {
  background-color: #FF6D51;
}
.windowFilter .container .filter form .bottomBtn .more:focus {
  background-color: #DD4A2E;
}
.windowFilter .container .filter form .bottomBtn .show {
  background-color: #4DC97B;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.windowFilter .container .filter form .bottomBtn .show:hover {
  background-color: #56E58B;
}
.windowFilter .container .filter form .bottomBtn .show:focus {
  background-color: #30B361;
}
.openPopup {
  display: block;
}
.hideBtnOpen {
  display: none !important;
}
.activeMaps {
  background-color: #DD4A2E !important;
  color: #fff !important;
  border: 1px solid #DD4A2E !important;
}
.visible {
  display: none;
}
.sliceLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 1800px;
}
.sliceLeft .containerSearch {
  max-width: 363px;
  margin-left: 20px;
  position: relative;
  height: 1153px;
  overflow: auto;
}
.sliceLeft .containerSearch .search {
  width: 100%;
}
.sliceLeft .containerSearch .search .titlePageSearch {
  margin-left: 7px;
}
.sliceLeft .containerSearch .search .titlePageSearch h2 {
  margin-left: 0;
  margin-bottom: 25px;
}
.sliceLeft .containerMaps {
  display: block;
  width: 100%;
  margin-top: -35px;
}
.sliceLeft .containerMaps iframe {
  height: 500px;
  width: 100%;
}
.sliceLeft .containerMaps .bottomForMaps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.sliceLeft .containerMaps .bottomForMaps .allScreen {
  cursor: pointer;
}
.containerMaps {
  display: none;
}
.containerSearch {
  max-width: 1040px;
}
.search .breadcrumb {
  display: block;
  background-color: transparent;
  margin-bottom: 39px;
  margin-top: 14px;
  margin-left: -5px;
}
.search .breadcrumb li {
  font-size: 14px;
}
.search .breadcrumb a {
  color: #E35F46;
  text-decoration: none;
}
.search .breadcrumb a:hover {
  color: #90949B;
}
.search .breadcrumb > .active {
  color: #999999;
}
.search .breadcrumb > li + li:before {
  color: #750b0b;
  content: "\002F\00a0";
}
.search .titlePageSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 33px;
}
.search .titlePageSearch h2 {
  margin: 0;
  margin-left: 10px;
  font-size: 40px;
}
.search .pageCateg {
  padding: 6px 26px;
  line-height: 22px;
  margin-top: 6px;
  border: 1px solid #D8D8D8;
  color: #E35F46;
  box-shadow: none;
  outline: none;
  margin-right: 11px;
}
.search .pageCateg:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.search .pageCateg:active {
  border: 1px solid #E35F46;
  color: #fff;
  background-color: #E35F46;
}
.search .full-result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.search .thumbnail {
  outline: none;
  cursor: pointer;
  height: 443px;
  border-radius: 4px;
  padding: 0;
  border: none;
  margin: 0 10px 20px 10px;
  max-height: 443px;
  width: 326px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.search .thumbnail:hover {
  box-shadow: 0 6px 14px 1px rgba(0, 0, 0, 0.14);
  transition: 0.3s;
}
.search .thumbnail:hover .longName a {
  color: #E35F46;
  transition: 0.3s;
}
.search .thumbnail .glyphicon-heart {
  position: absolute;
  color: rgba(241, 241, 241, 0.5);
  font-size: 30px;
  top: 20px;
  right: 15px;
}
.search .thumbnail .slider1 > button {
  color: rgba(255, 255, 255, 0);
  line-height: 1.1;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  border: none;
  outline: none;
  opacity: 0;
}
.search .thumbnail .slider1 .glyphicon {
  padding: 0 1px;
}
.search .thumbnail .slider1 .glyphicon:hover {
  color: #E35F46;
}
.search .thumbnail .slider1 .slick-next {
  bottom: 0;
}
.search .thumbnail .slider1 .slick-prev {
  right: 0;
  z-index: 1;
}
.search .thumbnail .slider1 .sl {
  margin: auto;
  position: relative;
}
.search .thumbnail .slider1 .sl .imgSl {
  height: 220px;
  width: 326px;
  margin: 0 auto;
}
.search .thumbnail .slider1 .sl .textSl {
  position: absolute;
  bottom: 0;
  width: 82.8%;
  margin-left: 28px;
}
.search .thumbnail .slider1 .sl .textSl .pSl {
  margin: auto;
  color: rgba(255, 255, 255, 0);
  width: 100%;
  text-align: center;
  line-height: 2.5;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}
.search .thumbnail .slider1:hover .textSl .pSl {
  margin: auto;
  color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 2.5;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.search .thumbnail .slider1:hover button {
  color: #ffffff;
  line-height: 1.1;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  border: none;
  transition: 0.3s;
  padding: 8px 9.5px;
  opacity: 1;
}
.search .thumbnail .caption {
  padding: 0 19px;
}
.search .thumbnail .caption h3 a {
  text-decoration: none;
  margin-top: 16px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 6px;
}
.search .thumbnail .caption .btn {
  box-shadow: none;
  text-decoration: none;
  background-color: #EEEDED;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  color: #5E6269;
  font-weight: 400;
  padding: 4px 9px;
}
.search .thumbnail .caption table {
  border: none;
  width: 100%;
  margin-top: 11px;
  color: #90949B;
  font-size: 14px;
}
.search .thumbnail .caption table strong {
  font-weight: bold;
  color: black;
}
.search .thumbnail .caption table tr {
  line-height: 1.9;
}
.search .thumbnail .caption .marg {
  margin: 3px -19px;
}
.search .thumbnail .caption .marg .rowBottom {
  border-top: 1px solid #D8D8D8;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 1px 19px 12px 19px;
  color: #90949B;
}
.search .thumbnail .caption .marg .rowBottom .margLeft {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.search .thumbnail .caption .marg .rowBottom .face {
  display: inline-block;
}
.search .thumbnail .caption .marg .rowBottom .face .menFase {
  width: 30.67px;
  height: 30.67px;
}
.search .thumbnail .caption .marg .rowBottom .mail {
  display: inherit;
  width: 40px;
  color: black;
}
.search .thumbnail .caption .marg .rowBottom .leftRightBtn {
  width: 30px;
  height: 30px;
  background: url(/img/category/greenBtn.svg) no-repeat;
}
.search .block {
  width: 100%;
  padding: 0 10px;
}
.search .allPosts {
  margin-top: 11px;
  background-color: #fff;
  color: #E35F46;
  font-size: 500;
  border: 1px solid #D8D8D8;
  box-shadow: none;
  outline: none;
}
.search .allPosts:hover {
  border: 1px solid #E35F46;
  transition: 0.3s;
}
.search .allPosts:active {
  background-color: #E35F46;
  color: #fff;
}
.btnStatick {
  margin-top: 80px;
}
.btnStatick .blockbuttonUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btnStatick .popupBtnOpen,
.btnStatick .mapsBtnOpen {
  cursor: pointer;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  border: 1px solid #D8D8D8;
  border-radius: 0 0 4px 4px;
  border-top: none;
  padding: 7px 0;
  background-color: #fff;
  width: 236px;
  margin: 0;
}
.btnStatick .popupBtnOpen span,
.btnStatick .mapsBtnOpen span {
  color: #E35F46;
}
.btnStatick .popupBtnOpen {
  border-radius: 0 0 0 4px;
}
.btnStatick .popupBtnOpen:hover {
  border: 1px solid #E35F46;
  border-radius: 0 0 4px 4px;
  border-top: none;
}
.btnStatick .mapsBtnOpen {
  border-radius: 0 0 4px 0;
  border-left: none;
}
.btnStatick .mapsBtnOpen:hover {
  border: 1px solid #E35F46;
  border-radius: 0 0 4px 4px;
  border-top: none;
}
.searchMap .leftProduct {
  max-width: 300px;
}
