@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/css/fonts/font1/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/css/fonts/HelveticaNeue-UltraLight.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/css/fonts/HelveticaNeue-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/css/fonts/HelveticaNeue-Bold.ttf");
}
.slick-slide:focus {
  outline: none;
}
.leftSlider button {
  margin-left: 20px;
  color: grey;
  outline: none;
  font-size: 14px;
  border: 1px solid #D8D8D8;
  padding: 10px 13px;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 1;
  margin-top: 24px;
}
.leftSlider button:focus {
  outline-color: #5E6269;
}
.slider2 button {
  color: grey;
  line-height: 2.4;
  font-size: 12px;
  background-color: red;
  position: absolute;
  bottom: 0;
  border: none;
}
.slider2 .slick-prev {
  right: 0;
  z-index: 1;
}
.slider2 .sl {
  margin: auto;
  position: relative;
}
.slider2 .sl .imgSl {
  height: 220px;
}
.slider2 .sl .textSl {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.slider2 .sl .textSl .pSl {
  margin: auto;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 2.5;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
}
.pageProduct {
  position: relative;
  outline: none;
  cursor: pointer;
  width: 326px;
  padding: 0;
  margin-left: -5px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.pageProduct:hover {
  box-shadow: 0 6px 14px 1px rgba(0, 0, 0, 0.14);
}
.pageProduct:hover .longName {
  color: #E35F46;
}
.pageProduct img.mute {
  height: 220px;
}
.pageProduct .glyphiconHeart {
  position: absolute;
  top: 20px;
  right: 5%;
  color: rgba(241, 241, 241, 0.5);
}
.pageProduct .glyphiconHeart svg #likeTop {
  fill: #AFAFAF;
  color: red;
  fill-rule: evenodd;
}
.pageProduct .glyphiconHeart:hover #likeTop {
  transition: 0.3s;
  fill: #E35F46;
}
.pageProduct .slider1 a {
  text-decoration: none;
  outline: none;
}
.pageProduct .slider1 > button {
  color: rgba(255, 255, 255, 0);
  line-height: 1.1;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  border: none;
  outline: none;
  opacity: 0;
}
.pageProduct .slider1 .slick-next {
  bottom: 0;
}
.pageProduct .slider1 .slick-prev {
  right: 0;
  z-index: 1;
}
.pageProduct .slider1 .sl {
  margin: auto;
  position: relative;
}
.pageProduct .slider1 .sl .imgSl {
  border-radius: 4px 4px 0 0 ;
  height: 220px;
  width: 326px;
  margin: 0 auto;
}
.pageProduct .slider1 .sl .textSl {
  position: absolute;
  bottom: 0;
  width: 82.8%;
  margin-left: 28px;
}
.pageProduct .slider1 .sl .textSl .pSl {
  margin: auto;
  color: rgba(255, 255, 255, 0);
  width: 100%;
  text-align: center;
  line-height: 2.2;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}
.pageProduct .slider1:hover .textSl .pSl {
  margin: auto;
  color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 2.2;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.pageProduct .slider1:hover button {
  margin-left: 2px;
  color: #ffffff;
  height: 26px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  border: none;
  transition: 0.3s;
  padding: 7px 9.5px;
  opacity: 1;
}
.pageProduct .slider1:hover .textSl {
  width: 100%;
  margin-left: 0;
}
.pageProduct .caption {
  padding: 17px 20px 0 20px;
}
.pageProduct .caption a {
  text-decoration: none;
  outline: none;
}
.pageProduct .caption h3 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pageProduct .caption p {
  font-size: 14px;
  line-height: 21px;
  color: #3C3D3E;
  font-weight: 500;
}
.pageProduct .caption a.btn {
  background-color: #EEEDED;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  color: #5E6269;
  font-weight: 400;
  padding: 4px 9px;
  outline: none;
  text-decoration: none;
}
.pageProduct .caption table {
  border: none;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 10px;
  color: #90949B;
  font-size: 14px;
}
.pageProduct .caption table strong {
  font-weight: bold;
  color: black;
}
.pageProduct .caption table tr {
  line-height: 1.9;
}
.pageProduct .margg {
  margin: 0 -19px;
}
.pageProduct .margg .rowBottom {
  border-top: 1px solid #D8D8D8;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2px 19px 12px 19px;
  color: #90949B;
}
.pageProduct .margg .rowBottom .margLeft {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.pageProduct .margg .rowBottom .face {
  display: inline-block;
}
.pageProduct .margg .rowBottom .face .menFase {
  width: 30.67px;
  height: 30.67px;
}
.pageProduct .margg .rowBottom p {
  margin: 0;
}
.pageProduct .margg .rowBottom .mailNews {
  display: inherit;
  margin-top: 10px;
}
.pageProduct .margg .rowBottom .mail {
  display: inherit;
  width: 40px;
  color: black;
}
.pageProduct .margg .rowBottom .leftRightBtn {
  width: 30px;
  height: 30px;
  background: url(/img/category/greenBtn.svg) no-repeat;
}
